<!doctype html>
<html lang="en">
<head>
    <title>PT精彩游戏</title>
    <!--<script src="/static/plugin/jquery/jquery.js"></script>
    <script src="http://cache.download.banner.turtledragon88.com/integrationjs.php"></script>-->
    <script>
        window.location.href="http://cache.download.banner.powerplay88.com/casinoclient.html?game=bld&language=zh-CN";
    </script>
</head>
<body>

</body>
</html>