<div class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="clearfix">
                    <div class="footer-copy" data-i18n="[html]base:footer.copy"></div>
                    <ul class="footer-menu clearfix">
                        <li><a href="/help" data-i18n="base:footer.name1"></a></li>
                        <li><a href="#" data-i18n="base:footer.name2"></a></li>
                        <li><a href="#" data-i18n="base:footer.name3"></a></li>
                        <li><a href="#" data-i18n="base:footer.name4"></a></li>
                        <li><a href="#" data-i18n="base:footer.name5"></a></li>
                        <li><a href="#" data-i18n="base:footer.name6"></a></li>
                    </ul>
                </div>
                <div class="footer-img"></div>
                <div class="footer-text" data-i18n="[html]base:footer.more"></div>
            </div>
        </div>
    </div>