<div class="page-footer" data-i18n="base:footer_center"></div>
<script type="text/x-dot-template" id="t-phone">
    <div id="bindphone-content">
        <div id="bind-phone">
            <div class="s-progress">
                <div class="step-1">
                    <span class="txt-1">输入手机号码</span>
                    <span class="txt-2">填写验证码</span>
                    <span class="txt-3">完成</span>
                    <span class="bar"></span>
                </div>
            </div>

            <div>
                <div class="b-phone">
                    <form id="BindForm">
                        <input type="hidden" id="action" name="action" value="bind">
                        <div class="field">
                            <div class="field-left"><span class="label">手机号码：</span></div>
                            <div class="field-right">
                                <div class="input-box-3">
                                    <input type="text" id="MobilePhone" name="MobilePhone" value="" maxlength="13" autocomplete="off"></div>
                                <div class="input-tips" data-for="MobilePhone">
                                    <span class="logo-th"></span>
                                    <span class="f-tips-2" data-valmsg-for="MobilePhone">正确手机号码</span>
                                </div>
                            </div>
                        </div>
                        <p class="t">IGame不会泄漏任何用户信息，以及发送骚扰电话和短信。</p>
                        <div class="field"><input type="button" id="phone-btn-1" class="btn-blue" value="下一步"></div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</script>
<script type="text/x-dot-template" id="t-phone2">
    <div id="bind-phone">

        <div class="s-progress">
            <div class="step-2">
                <span class="txt-1">输入手机号码</span>
                <span class="txt-2">填写验证码</span>
                <span class="txt-3">完成</span>
                <span class="bar"></span>
            </div>
        </div>

        <div>

            <p class="p-1">您输入的手机号码：{{=it.phone}} <a href="#" class="a" id="backinput">号码有误？返回重新输入</a></p>
            <div class="b-captcha">
                <form id="BindForm" action="/zh-cn/member/bindMobilePhone.aspx" method="post">
                    <input type="hidden" id="action" name="action" value="bindCheckCode" />
                    <input type="hidden" id="MobilePhone" name="MobilePhone" value="13517346898" />
                    <div class="field">
                        <div class="field-left">
                            <span class="label">验证码：</span>
                        </div>
                        <div class="field-right">
                            <div class="input-box-3">
                                <input name="CheckCode" id="CheckCode" type="text" class="s hidden" value="" data-val="true" data-val-required="请输入验证码" />
                            </div>
                            <input type="button" class="btn-captcha" onclick="GetCheckCode()" value="获取验证码" />
                            <div class="input-tips" data-for="captcha">
                                <span class="logo-th"></span>
                                <span class="f-tips-2" data-valmsg-for="captcha">请输入验证码</span>
                            </div>
                        </div>
                    </div>
                    <div class="field"><input type="button" id="phone-btn-2" value="下一步" class="btn-blue" /></div>
                </form>
            </div>
        </div>
    </div>
</script>
<script type="text/x-dot-template" id="t-phone3">
    <div id="bind-phone" class="dialog-bind">
        <div class="g-title-1">
            <div class="logo-right"></div><h3>恭喜您，手机绑定成功</h3>
        </div>
        <div class="box-1">
            <p>您已成功绑定手机。本次绑定手机所获得的10元彩金将在您第一次成功提款后自动派发到您的中心钱包，1倍流水可提款。如果您尚未进行过提款，彩金将在锁定钱包中等待您首次成功提款后即可自动转入中心钱包。</p>
            <div class="btn-blue" onclick="closeForm()">关闭</div>
        </div>
    </div>
</script>
<script type="text/x-dot-template" id="t-mail">
    <div id="bind-email">
        <div class="s-progress">
            <div class="step-1">
                <span class="txt-1" data-i18n="center:email.1"></span>
                <span class="txt-2" data-i18n="center:email.2"></span>
                <span class="txt-3" data-i18n="center:email.3"></span>
                <span class="bar"></span>
            </div>
        </div>

        <div>
            <div class="b-email">
                <form id="bindForm">
                    <div class="field">
                        <div class="field-left"><span class="label" data-i18n="center:email.4"></span></div>
                        <div class="field-right">
                            <div class="input-box-3">
                                <input type="text" id="email" name="email" autocomplete="off"></div>
                                <span class="logo-th"></span>
                            </div>
                        </div>

                    <p class="t" data-i18n="center:email.5"></p>

                    <div class="field"><button class="btn-blue" id="mail-btn-1" data-i18n="center:email.6"></button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>
<script type="text/x-dot-template" id="t-mail2">
    <div class="s-progress">
        <div class="step-2">
            <span class="txt-1" data-i18n="center:email.1"></span>
            <span class="txt-2" data-i18n="center:email.2"></span>
            <span class="txt-3" data-i18n="center:email.3"></span>
            <span class="bar"></span>
        </div>
    </div>
    <div>
        <p class="p-1" data-i18n="[prepend]center:email.7"><span id="current-email">{{=it.mail}}</span></p>
        <p class="p-2" data-i18n="center:email.8"></p>
        <div class="b-captcha">
            <form id="bindForm">
                <input type="hidden" id="action" name="action" value="CheckCode">
                <div class="field">
                    <div class="field-left">
                        <span class="label" data-i18n="center:email.9"></span>
                    </div>
                    <div class="field-right">
                        <div class="input-box-3">
                            <input name="captcha" id="captcha" type="text" class="s" autocomplete="off">
                        </div>
                        <div class="btn-captcha" data-disabled=true data-i18n="center:email.10"></div>
                        <div class="input-tips" data-for="captcha" style="display: none;">
                            <span class="logo-th"></span>
                            <span class="f-tips-2" data-valmsg-for="captcha" data-i18n="center:email.11"></span>
                        </div>
                    </div>
                </div>
                <div class="field"><button class="btn-blue" id="mail-btn-2" data-i18n="center:email.12"></button></div>
            </form>
        </div>
    </div>
</script>
<script type="text/x-dot-template" id="t-mail3">
    <div id="bind-email" class="dialog-bind">
        <div class="g-title-1">
            <div class="logo-right"></div><h3 data-i18n="center:email.13"></h3>
        </div>
        <div class="box-1">
            <p data-i18n="center:email.14"></p>
            <div class="btn-blue" onclick="closeForm()" data-i18n="center:email.15"></div>
        </div>
    </div>
</script>

<!--[if lt IE 9]><script src="/static/plugin/excanvas/excanvas.js"></script><![endif]-->
<!-- build:js(.tmp) /static/js/member.js -->
<script src="/static/plugin/jquery.knob/jquery.knob.js"></script>
<script src="/static/plugin/doT/doT.js"></script>
<script src="/static/plugin/jquery.countdown/jquery.countdown.js"></script>
<script src="/static/js/account.js"></script>
<!-- endbuild -->
#parse('/common/script.vm')