<!-- build:js(.tmp) /static/js/base.js -->
    <script src="/static/plugin/jquery.validate/jquery.validate.js"></script>
    <script src="/static/plugin/moment/moment.js"></script>
    <script src="/static/plugin/jquery-cycle2/jquery.cycle2.js"></script>
    <script src="/static/plugin/jquery-hoverIntent/jquery.hoverIntent.js"></script>
    <script src="/static/plugin/jquery.ui/jquery-ui.js"></script>
    <script src="/static/plugin/xss/xss.js"></script>
    <script src="/static/js/game/pt_login.js"></script>
    <script src="/static/js/core.js"></script>
    <!-- endbuild -->
    <link rel="stylesheet" href="/static/plugin/jquery.ui/jquery-ui.css"/>