<!doctype html>
<html class="no-js" lang="en">
<head>
    <title data-i18n="base:title.pay"></title>
    <script>var translate_page='deposit';var page_inner=['center'];</script>
    #parse('/common/top.vm')
    #set($header='deposit')
    <link rel="stylesheet" href="/static/css/account.css"/>
</head>
<body>
    #parse('/common/old.vm')
    #parse('/common/header.vm')
    <div class="account-con">
        <div class="account-main" id="funds">
            #parse('/payment/payment_top.vm')
            <div id="deposit">
                <div class="progress">
                    <div class="step-1" id="step">
                        <span class="txt-1" data-i18n="page.1"></span>
                        <span class="txt-2" data-i18n="page.2"></span>
                        <span class="txt-3" data-i18n="page.3"></span>
                        <span class="txt-4" data-i18n="page.4"></span>
                        <span class="bar"></span>
                    </div>
                </div>
                <div class="line-950"></div>
                <div class="deposit-form">
                    <form id="depost-form">
                        <input type="hidden" id="action" name="action" value="payment" />
                        <input type="hidden" id="PaymentMode" name="PaymentMode" value="1" />
                        <input type="hidden" id="MemberName" name="MemberName" value="az8321550" />

                        <div class="box-2 clearfix">

                            <div class="field-label fleft" data-i18n="page.5"></div>

                            <div class="deposit-tags clearfix">
                                <ul>
                                    #foreach($item in $result.paySetting)
                                    <li>
                                        <span #if($velocityCount=="1") class="on" #end data-i18n="[html]type.$item"></span>
                                    </li>
                                    #end
                                </ul>
                            </div>
                            #foreach($item in $result.item)
                            #set($temp=$velocityCount)
                            #set($temp=$temp - 1)
                            #if($result.paySetting[$temp]=="02TP")
                            <!--第三方入款-->
                            <div class="deposit-item #if($velocityCount==1) active #end">
                                <div class="deposit-content">
                                    <div class="third-party-3">
                                        <div class="third-party-use">
                                            <div class="guide"><img src="/static/images/thirdpay_bank.gif"></div>
                                            <div class="field">
                                                <div class="field-label fleft" data-i18n="page.6"></div>
                                                <div class="fleft">
                                                    <div class="input-box-2">
                                                        <label  class="lblamont" style="display: block;" data-i18n="page.7"></label>
                                                        <input type="text" name="amount" class="amount" autocomplete="off" data-min="${item.quotaSetting.minMoney}" data-max="${item.quotaSetting.maxMoney}">
                                                    </div>
                                                    <div class="money-tip">
                                                        <span data-i18n="page.min"></span>
                                                        ${item.quotaSetting.minMoney}RMB /
                                                        <span data-i18n="page.max"></span>
                                                        ${item.quotaSetting.maxMoney}RMB
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="field">
                                                <div class="field-label fleft lb2" data-i18n="[html]page.8"></div>
                                                <div class="">
                                                    <div class="third-banks clearfix">
                                                        #foreach($option in $item.bankList.bankCode)
                                                        <div class="radio-bank-3">
                                                            <div>
                                                                <div class="radio">
                                                                    #set($temp2=$velocityCount)
                                                                    #set($temp2=$temp - 1)
                                                                    <input type="radio" name="bankcode" class="bank-input" value="$item.bankList.bankCodeByPayList[$temp2]">
                                                                </div>
                                                                <div class="radio-label">
                                                                    <em data-i18n="[html]bank.$option"></em>
                                                                    <span class="logo-checked"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        #end
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="more" data-i18n="[prepend]page.9"><a data-i18n="page.10" href="#"></a><span class="logo-sj4-b"></span></p>
                                            <p class="collapse"><a href="#" data-i18n="page.11"></a><span class="logo-sj4-t"></span></p>
                                            <div class="tp-btn-box clearfix">
                                                <div class="btns">
                                                    <div class="btn-blue btn-disabled btn-deposit-top" data-i18n="page.12"></div>
                                                    <div class="btn-blue" id="ThirdPaymentPay" data-i18n="page.13"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            #end
                            #if($result.paySetting[$temp]=="02AI")
                            <!--支付宝入款-->
                            <div class="deposit-item #if($velocityCount==1) active #end">
                                <div class="deposit-content">
                                    <!--极速模式-->

                                    <div class="rapid-mode-1">

                                        <div>
                                            <div class="guide"><img src="/static/images/auto_bank.gif" /></div>


                                            <div class="field">
                                                <div class="field-label fleft">充值金额：</div>
                                                <div class="fleft">
                                                    <div class="input-box-2">
                                                        <label  class="lblamont">输入金额</label>
                                                        <input type="text" name="amount" class="amount" maxlength="7" value="" data-mode="1" />
                                                    </div>
                                                    <div class="input-tips" data-for="amount">
                                                        <span class="logo-th"></span>
                                                        <span class="f-tips-2" data-valmsg-for="amount">请输入充值金额</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="field">
                                                <div class="field-label fleft">银行种类：</div>
                                                <div class="fleft">
                                                    <div class="bank-list clearfix">
                                                        <ul>

                                                            <li>
                                                                <div class="radio-bank">
                                                                    <div>
                                                                        <div class="radio">
                                                                            <input type="radio" name="bankType" id="bankType" value="8" data-bankcode="ALIPAY" data-memberbanktype="8" />
                                                                        </div>
                                                                        <div class="radio-label">
                                                                            <span class="bank-logo logo-ALIPAY-2" title="支付宝"></span>
                                                                            <span class="logo-checked"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>

                                                            <li>
                                                                <div class="radio-bank">
                                                                    <div>
                                                                        <div class="radio">
                                                                            <input type="radio" name="bankType" id="bankType" value="6" data-bankcode="CMBC" data-memberbanktype="6" />
                                                                        </div>
                                                                        <div class="radio-label">
                                                                            <span class="bank-logo logo-CMBC-2" title="招商银行"></span>
                                                                            <span class="logo-checked"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>

                                                            <li>
                                                                <div class="radio-bank">
                                                                    <div>
                                                                        <div class="radio">
                                                                            <input type="radio" name="bankType" id="bankType" value="4" data-bankcode="ICBC" data-memberbanktype="4" />
                                                                        </div>
                                                                        <div class="radio-label">
                                                                            <span class="bank-logo logo-ICBC-2" title="工商银行"></span>
                                                                            <span class="logo-checked"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>

                                                            <li>
                                                                <div class="radio-bank">
                                                                    <div>
                                                                        <div class="radio">
                                                                            <input type="radio" name="bankType" id="Radio1" value="6" data-bankcode="CCB" data-memberbanktype="3"/>
                                                                        </div>
                                                                        <div class="radio-label">
                                                                            <span class="bank-logo logo-CCB-2" title="建设银行"></span>
                                                                            <span class="logo-checked"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <p class="tips">【存款没到账?】转账时没填附言或填错了，存款会在3到5小时内到账！<br />
                                                【转错金额了?】转错金额者需在此填多一个与实际转账金额一样的单子，该笔存款将在3-5小时内到账。<a href="/zh-cn/help/index.aspx?a=deposit" target="_blank" class="g-c1">>存款帮助</a>
                                            </p>


                                            <div class="btns">
                                                <div class="btn-blue btn-disabled btn-deposit-top">请先填写充值金额</div>
                                                <input type="button" class="btn-blue" value="下一步" id="payment-ali" tabindex="-1" />
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            #end
                            #if($result.paySetting[$temp]=="02CD")
                            <!--公司入款-->
                            <div class="deposit-item #if($velocityCount==1) active #end">
                                <div class="deposit-content">
                                    <div id="company-con1" class="c-item active">
                                        <div class="remittance-1">

                                            <div class="guide"><img src="/static/images/transfer_bank.gif"></div>

                                            <div class="field">
                                                <div class="field-label fleft" data-i18n="company.1"></div>
                                                <div class="fleft">
                                                    <div class="input-box-2">
                                                        <label  class="lblamont" style="display: block;" data-i18n="company.2"></label>
                                                        <input type="text" name="amount" class="amount" autocomplete="off" data-min="${item.quotaSetting.minMoney}" data-max="${item.quotaSetting.maxMoney}">
                                                    </div>
                                                    <div class="money-tip">
                                                        <span data-i18n="page.min"></span>
                                                        ${item.quotaSetting.minMoney}RMB /
                                                        <span data-i18n="page.max"></span>
                                                        ${item.quotaSetting.maxMoney}RMB
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="field">
                                                <div class="field-label fleft" data-i18n="[html]company.3"></div>
                                                <div class="fleft">
                                                    <div class="third-banks banks-list clearfix">
                                                        #foreach($option in $item.bankList.bankCode)
                                                        <div class="radio-bank-3">
                                                            <div>
                                                                <div class="radio">
                                                                    #set($temp3=$velocityCount)
                                                                    #set($temp4=$temp3 - 1)
                                                                    <input type="radio" name="bankcode" class="bank-input" data-bank="$option" value="$item.bankList.bankCodeByPayList[$temp4]">
                                                                </div>
                                                                <div class="radio-label">
                                                                    <em data-i18n="[html]bank.$option"></em>
                                                                    <span class="logo-checked"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        #end
                                                    </div>
                                                </div>
                                            </div>

                                            <p class="tips" data-i18n="[append]company.4"><br></p>
                                            <div class="btns">
                                                <div class="btn-blue btn-disabled btn-deposit-top" data-i18n="company.5"></div>
                                                <input type="button" id="c-btn" class="btn-blue" data-i18n="[value]company.6" tabindex="-1">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="company-con2" class="c-item">

                                    </div>
                                    <div id="company-con3" class="c-item c-item-main">

                                    </div>
                                </div>
                            </div>
                            #end
                            #if($result.paySetting[$temp]=="02PP")
                            <!--积分支付-->
                            <div class="deposit-item #if($velocityCount==1) active #end">
                                <div class="deposit-content">
                                    <div class="remittance-1">

                                        <div class="field feng-top">
                                            <div class="field-label fleft">充值金额：</div>
                                            <div class="fleft">
                                                <div class="input-box-2">
                                                    <label  class="lblamont" style="display: block;">输入金额</label>
                                                    <input type="text" name="amount" class="amount" maxlength="7" value="" data-mode="3">
                                                </div>
                                                <div class="input-tips" data-for="amount" style="display: none;">
                                                    <span class="logo-th"></span>
                                                    <span class="f-tips-2" data-valmsg-for="amount">请输入正确的金额格式</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="field">
                                            <div class="field-label fleft">积分：</div>
                                            <div class="fleft field-label field-label-feng">
                                                您当前的积分是<span>1200，00</span>积分 ，<span>120</span>元<em>（10积分等于1元）</em>
                                            </div>
                                        </div>


                                        <div class="bankinfo-ls">

                                        </div>

                                        <p class="tips"><br>友情提示：在您转账汇款成功后，记得联系我们客服确认到帐哦！</p>
                                        <div class="btns">
                                            <div class="btn-blue btn-disabled" style="margin-top: 0px;">请先填写充值金额</div>
                                            <input type="button" onclick="btnSubmit()" class="btn-blue" value="生成订单" tabindex="-1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            #end
                            <!--微信支付-->
                            #if($result.paySetting[$temp]=="02MP")
                            <div class="deposit-item #if($velocityCount==1) active #end">
                                <div class="deposit-content">
                                    <!--极速模式-->

                                    <div class="rapid-mode-1">

                                        <div>
                                            <div class="guide"><img src="/static/images/weixin.jpg" /></div>


                                            <div class="field">
                                                <div class="field-label fleft">充值金额：</div>
                                                <div class="fleft">
                                                    <div class="input-box-2">
                                                        <label class="lblamont">输入金额</label>
                                                        <input type="text" name="amount" class="amount" maxlength="7" value="" data-mode="1" />
                                                    </div>
                                                    <div class="input-tips" data-for="amount">
                                                        <span class="logo-th"></span>
                                                        <span class="f-tips-2" data-valmsg-for="amount">请输入充值金额</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="field">
                                                <div class="field-label fleft">银行种类：</div>
                                                <div class="fleft">
                                                    <div class="bank-list clearfix">
                                                        <ul>
                                                            <li>
                                                                <div class="radio-bank-3">
                                                                    <div class="checked">
                                                                        <div class="radio" style="padding-top: 4px;">
                                                                            <input type="radio" name="bankcode" value="weixin" checked>
                                                                        </div>
                                                                        <div class="radio-label">
                                                                            <em><i class="ico-weixin" style="margin-left:0;"></i>微信支付</em>
                                                                            <span class="logo-checked"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <p class="tips">【存款没到账?】转账时没填附言或填错了，存款会在3到5小时内到账！<br />
                                                【转错金额了?】转错金额者需在此填多一个与实际转账金额一样的单子，该笔存款将在3-5小时内到账。<a href="/zh-cn/help/index.aspx?a=deposit" target="_blank" class="g-c1">>存款帮助</a>
                                            </p>


                                            <div class="btns">
                                                <div class="btn-blue btn-disabled btn-deposit-top">请先填写充值金额</div>
                                                <input type="button" class="btn-blue" value="下一步" id="payment-ali" tabindex="-1" />
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            #end
                            #end

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/x-dot-template" id="deposit-tmpl">
        <div class="popup-thirdpay-info">
            <div class="step-1">
                <div class="ubloading"></div>
                <h3 data-i18n="thrid_tmpl.1"></h3>

                <div class="time"></div>
                <p class="p1" data-i18n="thrid_tmpl.111"></p>

                <div class="tips">
                    <p data-i18n="thrid_tmpl.2"></p>
                    <p data-i18n="[prepend]thrid_tmpl.3"><a data-i18n="thrid_tmpl.4" href="/service" data-btncs="1" class="a"></a></p>
                </div>
            </div>

            <div class="step-2 g-hidden">
                <div class="logo-th-3"></div>
                <h3 data-i18n="thrid_tmpl.5"></h3>
                <p data-i18n="[html]thrid_tmpl.6"></p>

                <div class="b1">
                    <div class="btn-blue" class="reload" data-i18n="thrid_tmpl.7"></div><a href="/service" data-btncs="1" class="a" data-i18n="thrid_tmpl.8"></a>
                </div>
            </div>
            <div class="step-3 g-hidden">
                <div class="logo-right-3"></div>
                <h3 data-i18n="thrid_tmpl.9"></h3>
                <ul class="ls">
                    <li>
                        <span class="v amount">0.00</span><span class="k">充值金额</span>
                    </li>
                    <li>
                        <span class="v fee">0.00</span><span class="k">返还手续费</span>
                    </li>
                    <li>
                        <span class="v netamount">0.00</span><span class="k">实际到帐</span>
                    </li>
                </ul>

                <div class="b1">
                    <div class="btn-blue reload" data-i18n="thrid_tmpl.10"></div>
                    <a href="#" class="btnClose" data-i18n="thrid_tmpl.11"></a>
                </div>
            </div>
        </div>
    </script>

    <!--公司入款-->
    <script type="text/x-dot-template" id="deposit-company">
        <div class="guide"><img src="/static/images/transfer_bank.gif"></div>
        <div class="c-con">
            <div class="c-text1" data-i18n="company_tmpl.1"></div>
            <div class="c-title" data-i18n="company_tmpl.2"></div>
            <div class="c-t clearfix">
                <div class="radio-bank-3 c-bank">
                    <div>
                        <div class="radio-label">
                            <em data-i18n="[html]bank.{{= it.bank}}"></em>
                            <span class="logo-checked"></span>
                        </div>
                    </div>
                </div>
                <div class="c-r" data-i18n="company_tmpl.3"></div>
            </div>
            <div class="c-title c-title2" data-i18n="company_tmpl.4"></div>
            <div class="clearfix">
                <div class="bank-card-info">
                    <span class="img logo-{{= it.bank}}-2" title=""></span>
                    <ul>
                        <li>
                            <span class="c btn-copy" data-clipboard-text="{{= it.orderNo }}" data-i18n="company_tmpl.copy;[title]company_tmpl.copy2"></span>
                            <span class="t" style="color:#36ad7f;font-weight:bold;" data-i18n="company_tmpl.5"></span>
                            <span class="v" style="color:#36ad7f;font-weight:bold;">{{= it.orderNo }}</span>
                        </li>
                        <li>
                            <span class="c btn-copy" data-clipboard-text="{{= it.fundInAccount.accountName }}" data-i18n="company_tmpl.copy;[title]company_tmpl.copy2"></span>
                            <span class="t" data-i18n="company_tmpl.6"></span>
                            <span class="v">{{= it.fundInAccount.accountName }}</span></li>
                        <li>
                            <span class="c btn-copy" data-clipboard-text="{{= it.fundInAccount.accountNo }}" data-i18n="company_tmpl.copy;[title]company_tmpl.copy2"></span>
                            <span class="t" data-i18n="company_tmpl.7"></span>
                            <span class="v">{{= it.fundInAccount.accountNo }}</span>
                        </li>
                        <li>
                            <span class="c btn-copy" data-clipboard-text="{{= it.fundInAccount.bankBranch }}" data-i18n="company_tmpl.copy;[title]company_tmpl.copy2"></span>
                            <span class="t" data-i18n="company_tmpl.8"></span>
                            <span class="v">{{= it.fundInAccount.bankBranch }}</span>
                        </li>
                        <li>
                            <span class="t" data-i18n="company_tmpl.9"></span>
                            <span class="v">{{= it.money}}</span>
                        </li>
                    </ul>
                </div>
                <div class="c-r2" data-i18n="company_tmpl.10"></div>
            </div>
        </div>
        <div class="c-btns clearfix">
            <input type="button" id="c-btn-prev1" class="btn-blue" data-i18n="[value]company_tmpl.11" tabindex="-1">
            <input type="button" id="c-btn-next1" class="btn-blue" data-i18n="[value]company_tmpl.12" tabindex="-1">
        </div>
    </script>

    <script type="text/x-dot-template" id="deposit-company2">
        <div class="guide"><img src="/static/images/transfer_bank.gif"></div>
        <div class="c-t-3">
            <strong>*</strong>
            <span data-i18n="company_tmpl2.1"></span>
            <i data-i18n="company_tmpl2.2"></i>
            <em>{{= it.orderNo}}</em>
        </div>
        <form></form>
        <form id="company-form">
            <div class="field">
                <div class="field-left"><span class="label" data-i18n="[prepend]company_tmpl2.3"><em>*</em>：</span></div>
                <div class="field-right">
                    <span class="field-amount">{{= it.money}}</span>
                </div>
            </div>
            <div class="field">
                <div class="field-left"><span class="label" data-i18n="[prepend]company_tmpl2.4"><em>*</em>：</span></div>
                <div class="field-right">
                    <div class="input-box-3">
                        <input name="name" id="name" type="text" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="field-left"><span class="label" data-i18n="[prepend]company_tmpl2.5"><em>*</em>：</span></div>
                <div class="field-right">
                    <div class="input-box-3">
                        <div class="select-box big">
                            <select name="bankProvince" id="bankProvince">
                                <option value="" data-i18n="base:province"></option>
                            </select>
                        </div>
                        <div class="select-box">
                            <select id="bankCity" name="bankCity">
                                <option value="" data-i18n="base:city"></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="field-left"><span class="label" data-i18n="company_tmpl2.6"></span></div>
                <div class="field-right">
                    <div class="input-box-3">
                        <textarea name="bankAddr" class="textarea" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="field-left"><span class="label" data-i18n="company_tmpl2.7"></span></div>
                <div class="field-right">
                    <div class="input-box-3">
                        <input name="remarks" type="text" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="field-left"><span class="label" data-i18n="company_tmpl2.8"></span></div>
                <div class="field-right">
                    <div class="field-type">
                        <label data-i18n="[append]company_tmpl2.9">
                            <input type="radio" name="transFlag" value="05TO">
                        </label>
                        <label data-i18n="[append]company_tmpl2.10">
                            <input type="radio" name="transFlag" value="05TA">
                        </label>
                        <label data-i18n="[append]company_tmpl2.11">
                            <input type="radio" name="transFlag" value="05TD">
                        </label>
                        <label data-i18n="[append]company_tmpl2.12">
                            <input type="radio" name="transFlag" value="05TB">
                        </label>
                        <label data-i18n="[append]company_tmpl2.13">
                            <input type="radio" name="transFlag" value="05TM">
                        </label>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="field-left"><span class="label" data-i18n="[prepend]company_tmpl2.14"><em>*</em>：</span></div>
                <div class="field-right">
                    <div class="input-box-3">
                        <input name="validCode" id="validCode" type="text" autocomplete="off" style="width:80px;">
                    </div>
                    <img class="code-img" id="company-code" src="/payCode" width="80" height="34">
                </div>
            </div>
        </form>
        <div class="c-btns clearfix">
            <input type="button" class="btn-blue" id="btn-company" data-i18n="[value]company_tmpl2.15" tabindex="-1">
        </div>
    </script>

    #parse('/common/page_footer.vm')
    <script src="/static/plugin/zeroclipboard/ZeroClipboard.js"></script>
    <script src="/static/js/deposit.js"></script>
</body>
</html>