<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>个人中心</title>
    <script>var translate_page='member';</script>
    #parse('/common/top.vm')
    #set($header='statement')
    <link rel="stylesheet" href="/static/css/account.css"/>
</head>
<body>
    #parse('/common/old.vm')
    #parse('/common/header.vm')
    <div class="account-con">
        <div class="account-main" id="funds">
            #parse('/payment/payment_top.vm')
            <div id="transactionlog">
                <!-- loading start -->
                <div class="s-loading" id="statement-loading" style="display: none;"></div>
                <div class="ss-loading" id="statement-loading-2"></div>
                <!-- loading end -->

                <!-- 筛选表单 start-->
                <div class="filter">
                    <div class="filter-more clearfix" style="display: block">
                        <form class="form">
                            <div class="transaction-filter">
                                <div class="trans-type clearfix">
                                    <div class="fleft tt-label">资金种类：</div>
                                    <div class="fleft">
                                        <a href="javascript:void(0);" data-type="deposit" class="on">充值</a>
                                        <a href="javascript:void(0);" data-type="withdrawal">提款</a>
                                        <a href="javascript:void(0);" data-type="transfer">转账</a>
                                        <a href="javascript:void(0);" data-type="adjustment">红利</a>
                                    </div>
                                </div>

                                <div class="trans-date clearfix">
                                    <div class="fleft ts-label">选择日期：</div>
                                    <div class="fleft" id="time-range">
                                        <a href="javascript:void(0);" data-starttime="2015/8/25" data-endtime="2015/8/25 23:59:59">昨天</a>
                                        <a href="javascript:void(0);" data-starttime="2015/8/26" data-endtime="2015/8/26 23:59:59" class="on">今天</a>
                                        <a href="javascript:void(0);" data-starttime="2015/8/19" data-endtime="2015/8/26 23:59:59">一周内</a>
                                        <a href="javascript:void(0);" data-starttime="2015/8/12" data-endtime="2015/8/26 23:59:59">2周内</a>
                                        <a href="javascript:void(0);" data-starttime="2015/7/27" data-endtime="2015/8/26 23:59:59">1个月内</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- 筛选表单 end-->

                <!-- 单据结果 start -->
                <div class="bd">
                    <div id="search-result">
                        <div class="no-data">
                            <div class="logo-th-3"></div>
                            <h3>您此时间段内，无任何交易记录</h3>
                        </div>
                    </div>

                </div>
                <!-- 单据结果 end -->

                <!-- 查看更多 -->
                <div class="viewmore" style="display:none;">
                    查看更多
                </div>

                <div id="block-no-data" style="display:none;">
                    <div class="no-data">
                        <div class="logo-th-3"></div>
                        <h3>您此时间段内，无任何交易记录</h3>
                    </div>
                </div>

            </div>
        </div>
    </div>
    #parse('/common/page_footer.vm')
    <script src="/static/js/deposit.js"></script>
</body>
</html>