<!doctype html>
<html class="no-js" lang="en">
<head>
    <title data-i18n="base:title.pay"></title>
    <script>var translate_page='pay';var page_inner=['center'];</script>
    #parse('/common/top.vm')
    #set($header='transfer')
    <link rel="stylesheet" href="/static/css/account.css"/>
</head>
<body>
    #parse('/common/old.vm')
    #parse('/common/header.vm')
    <div class="account-con">
        <div class="account-main" id="funds">
            #parse('/payment/payment_top.vm')
            <div id="transferForm" class="transferForm pg-transfer">
                <div class="member-balances clearfix">
                    <div class="tsf_sd"></div>
                    <ul>
                        <li class="main" data-trans="main">
                            <div class="tsf_line tsf_line-left"></div>
                            <div class="btn-refresh-2 tsf_rs_s" data-i18n="[title]tran.refresh" data-partner="main"></div>
                            <div class="tsf_icon"></div>
                            <div class="tsf_num"><div class="amount" id="b_curAccount">$blance.curAccount</div></div>
                            <div class="tsf_type" data-i18n="tran.1"></div>
                            <div class="tsf_line"></div>
                            <div class="tsf_rs_s btn-refresh-2" data-type="curAccount" data-ele="#b_curAccount" data-i18n="[title]tran.refresh" data-partner="main"></div>
                        </li>
                        <li class="main" data-trans="main">
                            <div class="btn-refresh-2 tsf_rs_s" title="" data-partner="main"></div>
                            <div class="tsf_icon"></div>
                            <div class="tsf_num"><div class="amount" id="b_pt">$blance.pt</div></div>
                            <div class="tsf_type" data-i18n="tran.2"></div>
                            <div class="tsf_line"></div>
                            <div class="tsf_rs_s btn-refresh-2" data-type="pt" data-ele="#b_pt" data-i18n="[title]tran.refresh" data-partner="main"></div>
                        </li>
                        <li class="main" data-trans="main">
                            <div class="btn-refresh-2 tsf_rs_s" data-i18n="[title]tran.refresh" data-partner="main"></div>
                            <div class="tsf_icon"></div>
                            <div class="tsf_num"><div class="amount" id="b_w88">$blance.w88</div></div>
                            <div class="tsf_type" data-i18n="tran.3"></div>
                            <div class="tsf_line"></div>
                            <div class="tsf_rs_s btn-refresh-2" data-type="w88" data-ele="#b_w88" data-i18n="[title]tran.refresh" data-partner="main"></div>
                        </li>
                    </ul>
                </div>

                <div class="transfer-content">
                    <a class="tsf_refresh" href="" style="display:none;">
                        <div class="tsf_rf_icon"></div>
                        <div class="tsf_rf_txt" data-i18n="tran.4"></div>
                    </a>
                    <div class="transfer-form">
                        <div class="s-d-exchange">
                            <span class="b-tr"></span>
                            <span class="btn-exchange"></span>
                            <span class="b-rb"></span>
                        </div>
                        <div class="promo-empty">
                            <div class="bg"></div>
                            <p data-i18n="tran.5"></p>
                        </div>


                        <form id="transfer-form" class="transferForm">
                            <div class="field">
                                <div class="field-left">
                                    <span class="label" data-i18n="tran.6"></span>
                                </div>
                                <div class="field-right">
                                    <div class="select-box">
                                        <select name="fromType" id="source-transfer">
                                            <option value="" data-i18n="tran.7"></option>
                                            <option value="curAccount" data-i18n="tran.8"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="field-left"><span class="label" data-i18n="tran.88"></span></div>
                                <div class="field-right">
                                    <div class="select-box">
                                        <select name="toType" id="desc-transfer">
                                            <option value="" data-i18n="tran.7"></option>
                                            <option value="pt" data-i18n="tran.9"></option>
                                            <option value="w88" data-i18n="tran.10"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="field-left"><span class="label" data-i18n="tran.11"></span></div>
                                <div class="field-right">
                                    <div class="input-box-4">
                                        <label for="amount" data-i18n="tran.12"></label>
                                        <input type="text" name="ammount" id="amount" value="" autocomplete="off" >
                                    </div>
                                </div>
                            </div>

                            <div class="field"><button class="btn-blue" id="transfer-btn"><span data-i18n="tran.13"></span></button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    #parse('/common/page_footer.vm')
    <script src="/static/js/transfer.js"></script>
</body>
</html>