<!doctype html>
<html class="no-js" lang="en">
<head>
    <title data-i18n="base:title.pay"></title>
    <script>var translate_page='pay';var page_inner=['center'];</script>
    #parse('/common/top.vm')
    #set($header='withdraw')
    <link rel="stylesheet" href="/static/css/account.css"/>
</head>
<body>
    #parse('/common/old.vm')
    #parse('/common/header.vm')
    <div class="account-con">
        <div class="account-main" id="funds">
            #parse('/payment/payment_top.vm')
            <div id="withdraw">
                <div class="progress">
                    <div class="step-1">
                        <span class="txt-1" data-i18n="with.1"></span>
                        <span class="txt-2" data-i18n="with.2"></span>
                        <span class="txt-3" data-i18n="with.3"></span>
                        <span class="txt-4" data-i18n="with.4"></span>
                        <span class="bar"></span>
                    </div>
                </div>
                <div class="w-c">
                    <div class="w-row clearfix">
                        <div class="w-l" data-i18n="[prepend]with.5">
                            <span>$disSidCust.accountStr</span> RMB
                        </div>
                        <div class="w-r">
                            #if($disSidCust.isBindBank)
                            <span data-i18n="[html]with.6"></span>
                            #else
                            <span data-i18n="[html]with.7"></span>
                            #end
                        </div>
                    </div>

                    #if($disSidCust.curAccount<100)
                    <div class="w-m" data-i18n="[append]with.8">
                        <h2 class="logo-th-2"></h2>
                    </div>
                    <a href="/payment/deposit" class="btn-blue m-b" data-i18n="with.9"></a>
                    #elseif($disSidCust.curAccount>=100&&$disSidCust.isBindPayPwd==false)
                    <div>
                        <div class="pass-cen" data-i18n="[html]with.10"></div>
                        <div class="pass-set clearfix">
                            <span data-i18n="with.11"></span>
                            <div class="select-box">
                                <select>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                            </div>
                            <div class="select-box">
                                <select>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                            </div>
                            <div class="select-box">
                                <select>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                            </div>
                            <div class="select-box">
                                <select>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                </select>
                            </div>
                        </div>
                        <div class="btn-blue m-b" id="pass-set" data-i18n="with.111"></div>
                    </div>
                    #elseif($disSidCust.curAccount>=100&&$disSidCust.isBindPayPwd==true)
                    <div class="card-con" #if($disSidCust.isBindBank)style="display: none;"#end>
                        <div class="card-title" data-i18n="with.12"></div>
                        <div>
                            <table class="card-table">
                                <tr>
                                    <td data-i18n="with.14"></td>
                                    <td data-i18n="with.15"></td>
                                    <td data-i18n="with.16"></td>
                                    <td data-i18n="with.17"></td>
                                </tr>
                                #if($sidCustBankacct)
                                #foreach($item in $sidCustBankacct)
                                <tr>
                                    <td>$item.bankName</td>
                                    <td>$item.realName</td>
                                    <td>$item.custBankacctNo</td>
                                    <td>$item.bankProvince  $item.bankCity</td>
                                </tr>
                                #end
                                #else
                                <tr>
                                    <td colspan="5" class="card-no" data-i18n="with.18"></td>
                                </tr>
                                #end
                            </table>
                        </div>
                        <div class="card-title" data-i18n="with.19"></div>
                        <div>
                            <form id="card-form" class="card-form">
                                <div class="field">
                                    <div class="field-left">
                                        <span class="label" data-i18n="with.20"></span>
                                    </div>
                                    <div class="field-right">
                                        <div class="input-box-3">
                                            <div class="select-box">
                                                <select name="bankId" id="bankId">
                                                    <option value="" data-i18n="with.21"></option>
                                                    #foreach($item in $listBanks)
                                                    <option value="$item.bankId">$item.bankName</option>
                                                    #end
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="field-left">
                                        <span class="label" data-i18n="with.22"></span>
                                    </div>
                                    <div class="field-right">
                                        <span class="card-name">${disSidCust.firstName}${disSidCust.lastName}</span>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="field-left">
                                        <span class="label" data-i18n="with.23"></span>
                                    </div>
                                    <div class="field-right">
                                        <div class="input-box-3">
                                            <input name="custBankacctNo" id="custBankacctNo" type="text" class="big-text">
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="field-left">
                                        <span class="label" data-i18n="with.24"></span>
                                    </div>
                                    <div class="field-right">
                                        <div class="input-box-3">
                                            <div class="select-box select-box-province">
                                                <select name="bankProvince" id="bankProvince">
                                                    <option value="" data-i18n="base:province"></option>
                                                </select>
                                            </div>
                                            <div class="select-box select-box-city">
                                                <select name="bankCity" id="bankCity">
                                                    <option value="" data-i18n="base:city"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="field-left">
                                        <span class="label" data-i18n="with.25"></span>
                                    </div>
                                    <div class="field-right label-top">
                                        <div class="input-box-3">
                                            <textarea rows="5" name="bankAddr" id="bankAddr" class="textarea"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="field"><button id="bind-card" class="btn-blue"><span data-i18n="with.26"></span></button></div>
                            </form>
                        </div>
                    </div>
                    #if($disSidCust.isBindBank)
                    <div class="withdraw-con" style="display: none;">
                        <div class="wd-title" data-i18n="with.27"></div>
                        <form id="withdraw-form" autocomplete="off">
                            <div>
                                <table class="card-table">
                                    <tr>
                                        <td data-i18n="with.13" width="70"></td>
                                        <td data-i18n="with.14"></td>
                                        <td data-i18n="with.15"></td>
                                        <td data-i18n="with.16"></td>
                                        <td data-i18n="with.17"></td>
                                    </tr>
                                    #foreach($item in $sidCustBankacct)
                                    <tr>
                                        <td><input name="custBankacctId" type="radio" value="$item.custBankacctId" #if($velocityCount=="1") checked #end></td>
                                        <td>$item.bankName</td>
                                        <td>$item.realName</td>
                                        <td>$item.custBankacctNo</td>
                                        <td>$item.bankProvince  $item.bankCity</td>
                                    </tr>
                                    #end
                                    <tr>
                                        <td data-i18n="with.28"></td>
                                        <td colspan="4" class="textarea-con">
                                            <textarea name="remarks" id="remarks" class="textarea"></textarea>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div>
                                <div class="withdraw-form">
                                    <div class="field">
                                        <div class="field-left">
                                            <span class="label" data-i18n="with.29"></span>
                                        </div>
                                        <div class="field-right">
                                            <div class="input-box-3">
                                                <input type="text" name="ammount" id="ammount" autocomplete="off" data-min="${SidQuotaSetting.minMoney}" data-max="${SidQuotaSetting.maxMoney}">
                                            </div>
                                            <span class="limit"><em data-i18n="with.32"></em>：${SidQuotaSetting.minMoney}RMB / <em data-i18n="with.33"></em>：${SidQuotaSetting.maxMoney}RMB</span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="field-left">
                                            <span class="label" data-i18n="with.11"></span>
                                        </div>
                                        <div class="field-right">
                                            <div class="input-box-3">
                                                <input type="password" autocomplete="off" style="display: none;">
                                                <input type="password" name="payPassword" id="payPassword" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="field-left">
                                            <span class="label" data-i18n="with.30"></span>
                                        </div>
                                        <div class="field-right">
                                            <div class="input-box-3">
                                                <input type="text" class="small" id="validCode" name="validCode">
                                            </div>
                                            <img src="/payCode" width="80" height="30" class="code">
                                        </div>
                                    </div>
                                    <div class="field"><button id="withdraw-btn" class="btn-blue"><span data-i18n="with.31"></span></button></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    #end
                    #end
                </div>
            </div>
        </div>
    </div>
    #parse('/common/page_footer.vm')
    <script src="/static/js/withdraw.js"></script>
</body>
</html>