<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>全民坐庄</title>
    <script>var translate_page='index';</script>
    #parse('/common/top.vm')
    <link rel="stylesheet" href="/static/css/common.css"/>
</head>
<body class="help">
    #parse('/common/old.vm')
    #parse('/common/header.vm')

    <div class="help-con">
        <div class="container">
            <div class="site-map"><span>About Us /</span> 关于我们</div>
            <div class="help-main clearfix">
                <ul class="help-left">
                    <li class="active"><a href="/about">关于IG</a></li>
                    <li><a href="/contact">联系我们</a></li>
                    <li><a href="/help">帮助中心</a></li>
                </ul>
                <div class="help-detail">
                    <b>公司简介</b>
                    iG(iG88.com)线上娱乐（以下简称“iG”）是“iG 99  HOLDINGS LTD.”旗下的一家旗舰网上娱乐品牌，我们获得了 First Cagayan Leisure & Resort Corporation的运营许可，卡加延博彩管理局是国际博彩资源协会认可的亚洲首个和唯一一个交互博彩管理体系；我们致力于为客户创造安全、诚信、可靠的博彩环境，以保证能够提供世界一流的服务。我们必须提到我们超过300人以上的顶尖的技术团队，它们来自于世界11个国家与地区令人尊敬的上市公司，他们正是确保我们为所有用户提供稳定可靠，安全高效的游戏产品之有力倚仗。<br><br>
                    我们的母公司“iG 99 HOLDINGS LTD.”来自英国维京群岛，拥有庞大的资金实力及技术保障能力，我们确保我们的运营团队及品牌在市场上有3-5年的前瞻性，为的是每次创新都能掀起行业巨变与革新，带给玩家最优的用户体验。我们相信坚实的技术功底与我们极具想象力的行业创新，将是iG的核心竞争力之一。<br><br>
                    我们有令人骄傲的市场团队，他们活跃在英国、中国、越南、印尼、泰国、韩国、日本、马来西亚，为iG品牌推广公知与公信力打下坚实基础。为不同国家的玩家与合作伙伴提供优质的平台创造条件。我们相信市场与口碑并存，我们的市场团队并不是为了追求占有率而盲目的开拓，而是在建立和打造品牌公信力的同时，让市场的口碑口口相传。即使在行业竞争趋于恶性的今天，我们仍坚定的相信，真正有群众基础，口碑良好的品牌才能走的越来越远。<br><br>
                    我们有来自全球8个国家与数个地区的上千名服务人员与运营团队，他们都身经百战，拥有在网络娱乐场超过10年的运营与服务经验。我们并不想吹嘘我们的服务水平，但是我们的平均存取款速度都不会超过3分钟，否则他们将面临公司的罚款。如果您对我们的服务仍有疑问，那么我们欢迎您向我们提出建议，我们将虚心的接受并进行调整与改进，以便我们更好的为不同国家与地区的用户服务。<br><br>
                    最后别忘了，iG，它就只是一家网络娱乐场，我们衷心希望您游戏愉快且赚的盆满钵满。<br>
                    <b>iG的使命</b>
                    iG不止是一家网络娱乐场，更是一家极具热情与使命感的互联网公司。我们不断的创新玩法，革新玩家与合作伙伴的用户体验，创造新的游戏品类，目的就是为了改变市场格局。为了让市场上高度同质化，品牌高度模糊的公司与没有实际资质的博彩公司，就此重新洗牌，还所有玩家一个纯粹的娱乐世界。<br>
                    <b>价值观</b>
                    我们推荐玩家践行“理性博彩”的原则，为了健康的家庭与生活环境，我们希望您能保持良好的心态：娱乐趣味，量力而为。<br>
                    <b>信息与安全</b>
                    “iG”强大的技术团队，为客户提供最可靠的信息隐私保密措施，您的资金账户、个人信息将受到更严密的保护，让玩家能在这里真正放心无忧游戏，乐在其中。我们也绝对不会泄露您的个人资料给任何第三方的政府，金融机构等个人或群体。但我们有权通过网站向有关第三方支付平台服务提供商以及金融保险机构提供必要的个人信息以完成支付要求。所有用户提供的个人信息，其传送都将通过安全端口（SSL 128 bit encryption Standard）并存放在公众无法进入的保密环境之下。所有数据的内部出入都受到限制及严密的监控。<br>
                </div>
            </div>
        </div>
    </div>


    #parse('/common/footer.vm')
    #parse('/common/script.vm')
    <script>

    </script>
</body>
</html>