<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>全民坐庄</title>
    <script>var translate_page='index';</script>
    #parse('/common/top.vm')
    <link rel="stylesheet" href="/static/css/account.css"/>
    <link rel="stylesheet" href="/static/plugin/jquery.ui/jquery-ui.css"/>
</head>
<body>
    #parse('/common/old.vm')
    #parse('/common/page_header.vm')
    <div class="account-con">
        <div class="account-main container clearfix">
            <div class="account-main-left">
                <ul>
                    <li class="active"><a href="/safe">积分</a></li>
                </ul>
            </div>
            <div class="account-main-right">
                <div class="account-main-title">
                    <h2>积分</h2>
                    <div class="account-main-title-text">这里显示你的存款记录</div>
                </div>
                <div class="account-form">

                </div>
                <div class="account-service">
                    如有任何问题，请联系我们的<a href="#">在线客服</a>
                </div>
            </div>
        </div>
    </div>
    #parse('/common/page_footer.vm')
    <script src="/static/plugin/jquery.ui/jquery-ui.js"></script>
    <script src="/static/plugin/jquery.ui/jquery.ui.datepicker-zh-cn.js"></script>
    <script src="/static/js/account-history.js"></script>
</body>
</html>