<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>全民坐庄</title>
    <script>var translate_page='account';</script>
    #parse('/common/top.vm')
    #set($header='profile')
    <link rel="stylesheet" href="/static/css/account.css"/>
</head>
<body>
    #parse('/common/old.vm')
    #parse('/common/page_header.vm')
    <div class="account-con">
        <div class="account-main container clearfix">
            <div class="account-main-left">
                <ul>
                    <li class="active"><a href="/profile">编辑资料</a></li>
                    <li><a href="/safe">更改密码</a></li>
                </ul>
            </div>
            <div class="account-main-right">
                <div class="account-main-title">
                    <h2>编辑资料</h2>
                    <div class="account-main-title-text">为了增强您的账户安全，请提交详细信息，便于工作人员审核。</div>
                </div>
                <form class="account-form" id="profile-form">
                    <div class="account-group clearfix">
                        <label class="account-group-label">邮箱：</label>
                        <div class="account-group-value">$sidCustInfo.emailAddress</div>
                    </div>
                    <div class="account-group clearfix">
                        <label class="account-group-label">手机号：</label>
                        <div class="account-group-value">$sidCustInfo.mobileNumber</div>
                    </div>
                    <div class="account-group clearfix">
                        <label class="account-group-label">注册时间：</label>
                        <div class="account-group-value">$sidCustInfo.effDate</div>
                    </div>
                    <div class="account-group-spa"></div>
                    #if($sidCustInfo.firstName)
                    <div class="account-group clearfix">
                        <label class="account-group-label">真实姓名：</label>
                        <div class="account-group-value">$sidCustInfo.firstName $sidCustInfo.lastName</div>
                    </div>
                    #else
                    <div class="account-group clearfix">
                        <label class="account-group-label">姓：</label>
                        <input type="text" id="firstName" name="firstName" class="account-input">
                    </div>
                    <div class="account-group clearfix">
                        <label class="account-group-label">名：</label>
                        <input type="text" id="lastName" name="lastName" class="account-input">
                    </div>
                    #end
                    <div class="account-group clearfix">
                        <label class="account-group-label">性别：</label>
                        #if($sidCustInfo.custGender)
                        <div class="account-group-value">$sidCustInfo.custGender</div>
                        #else
                        <label class="account-radio">男<input type="radio" value="01M" name="sex" class="account-input" checked></label>
                        <label class="account-radio">女<input type="radio" value="01F" name="sex" class="account-input"></label>
                        #end
                    </div>
                    <div class="account-group clearfix">
                        <label class="account-group-label">出生日期：</label>
                        #if($sidCustInfo.birthDate)
                        <div class="account-group-value">$sidCustInfo.birthDate</div>
                        #else
                        <input type="text" id="birthDate" name="birthDate" class="account-input">
                        #end
                    </div>
                    <div class="account-group account-group-select clearfix">
                        <label class="account-group-label">证件类型：</label>
                        #if($sidCustInfo.certificateType)
                        <div class="account-group-value">$sidCustInfo.certificateType</div>
                        #else
                        <select class="account-select" name="certificateType" id="certificateType">
                            <option value="" data-i18n="base:select"></option>
                            #foreach($item in $certificateType)
                            <option value="$item.value" data-i18n="certificate_type.${item.key}"></option>
                            #end
                        </select>
                        #end
                    </div>
                    <div class="account-group clearfix">
                        <label class="account-group-label">证件号码：</label>
                        #if($sidCustInfo.certificate)
                        <div class="account-group-value">$sidCustInfo.certificate</div>
                        #else
                        <input type="text" id="certificate" name="certificate" class="account-input">
                        #end
                    </div>
                    <div class="account-group clearfix">
                        <label class="account-group-label">QQ：</label>
                        #if($sidCustInfo.qq)
                        <div class="account-group-value">$sidCustInfo.qq</div>
                        #else
                        <input type="text" id="qq" name="qq" class="account-input">
                        #end
                    </div>
                    #if($sidCustInfo.qq)
                    <div class="account-link">如需修改请联系<a href="#">在线客服</a></div>
                    #else
                    <div class="account-btn account-btn-profile" id="profile-btn">提交</div>
                    #end
                </form>
                <div class="account-service">
                    如有任何问题，请联系我们的<a href="#">在线客服</a>
                </div>
            </div>
        </div>
    </div>
    #parse('/common/page_footer.vm')
    <script src="/static/js/profile.js"></script>
</body>
</html>