<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>全民坐庄</title>
    <script>var translate_page='index';</script>
    #parse('/common/top.vm')
    <link rel="stylesheet" href="/static/css/account.css"/>
</head>
<body>
    #parse('/common/old.vm')
    #parse('/common/page_header.vm')
    <div class="account-con">
        <div class="account-main container clearfix">
            <div class="account-main-left">
                <ul>
                    <li><a href="/cashier">余额</a></li>
                    <li class="active"><a href="/deposit">存款</a></li>
                    <li><a href="/withdraw">提款</a></li>
                    <li><a href="/transfer">转账</a></li>
                </ul>
            </div>
            <div class="account-main-right">
                <div class="account-main-title">
                    <h2>存款</h2>
                    <div class="account-main-title-text">可以选择存款方式</div>
                </div>
                <div class="account-form account-form2">

                </div>
                <div class="account-service">
                    如有任何问题，请联系我们的<a href="#">在线客服</a>
                </div>
            </div>
        </div>
    </div>
    #parse('/common/page_footer.vm')

</body>
</html>