<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>错误</title>
    <link rel="stylesheet" href="/static/css/core.css"/>
    <style>
        body{
            background: url("/static/images/error_bg.jpg");
        }
        .container{
            text-align: center;
        }
        .title1{
            color:#333333;
            font-size: 36px;
        }
        .title2{
            color:#333333;
            font-size: 24px;
            margin-top: 10px;
        }
        .error-text{
            margin-top: 20px;
            color:#999999;
            font-size: 12px;
            line-height: 20px;
        }
        .error-text a{
            color:#009b73;
        }
        .error-img{
            display: block;
            margin: 0 auto;
        }
        .logo{
            display: block;
            margin-top: 40px;
            margin-bottom: 60px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <img src="/static/images/logo.png" class="logo">
        </div>
        <img src="/static/images/404.jpg" class="error-img">
        <div class="title1">sorry!404 file not found.</div>
        <h2 class="title2">啊~哦~ 您要查看的页面不存在或已删除！</h2>
        <div class="error-text">
            请检查您输入的网址是否正确，或点击链接继续浏览空间<br>
            您可以回到<a href="/">网站首页</a>或到<a href="/help">帮助中心</a>
        </div>
    </div>
</body>
</html>