<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>全民坐庄</title>
    <script>var translate_page='index';</script>
    #parse('/common/top.vm')
    <link rel="stylesheet" href="/static/css/common.css"/>
</head>
<body class="help">
    #parse('/common/old.vm')
    #parse('/common/header.vm')

    <div class="help-con">
        <div class="container">
            <div class="site-map"><span>About Us /</span> 帮助中心</div>
            <div class="help-main clearfix">
                <ul class="help-left">
                    <li><a href="/about">关于IG</a></li>
                    <li><a href="/contact">联系我们</a></li>
                    <li class="active"><a href="/help">帮助中心</a></li>
                </ul>
                <div class="help-detail">

                    <b>如何在iG（iG88）注册成为会员？</b>
                    在iG（iG88）注册很简单，只需要几分钟就可以了。<br><br>
                    步骤 1<br>
                    在我们网站主页右上角有一个“注册”的按键，您只需要单击它，您将会进入我们的注册网页，点击此处开始注册。<br><br>
                    步骤 2<br>
                    您将会被要求阅读和接受iG（iG88）条款要求及规章条例，同时你必须确认您已经超过18岁并需要填写一些必需的个人数据和联系信息。<br><br>
                    步骤 3<br>
                    当您完成注册，您可以立即登入，存款之后即可开始投注。<br><br>
                    <b>我的个人资料安全吗？</b>
                    iG（iG88）不会将客户的数据透露给第三方，除非我们的保密条款有其它的要求。<br><br>
                    <b>我忘记密码怎么办？</b>
                    您如果忘记密码，可以点击登陆窗口 页面的“忘记密码”，只要您提供找回密码所需的信息，就可以找回您的密码了，有更多疑问，请联络我们的在线客服。<br><br>
                    <b>如何完善我的账户信息以便不错过最新优惠活动？</b>
                    需要您使用真实信息注册，比如：更新个人资料，银行信息，联系电话，电子邮箱。请确保您的联系电话和电子邮箱都是有效的，方便及时与您取得联系，任何疑问您可以随时咨询我们的在线客服。<br><br>
                    <b>我无法看到这个网站上的部分图片，怎么办？</b>
                    旧版本的Adobe Flash Player在显示部分Flash图片时存在问题。我们建议您安装使用Adobe Flash 9.0或更高的版本。<br><br>
                    <b>其他问题</b>
                    如您还有其他疑问，欢迎您随时联系我们，在线客服会7X24小时为您服务！<br><br>
                </div>
            </div>
        </div>
    </div>


    #parse('/common/footer.vm')
    #parse('/common/script.vm')
    <script>

    </script>
</body>
</html>