<!doctype html>
<html class="no-js" lang="en">
<head>
    <title data-i18n="base:title.index"></title>
    <script>var translate_page='index';</script>
    #parse('/common/top.vm')
    #set($header='home')
    <link rel="stylesheet" href="/static/css/index.css"/>
</head>
<body>
    #parse('/common/old.vm')
    #parse('/common/header.vm')
    <div class="banner">
        <div class="cycle-slideshow"
             data-cycle-prev=".banner-op-left"
             data-cycle-next=".banner-op-right"
             data-cycle-slides=".banner-item"
             data-cycle-fx="scrollHorz" data-cycle-log="false"
             data-cycle-timeout="10000"
             data-cycle-pager=">.cycle-pager"
             data-cycle-pager-template="<span></span>"
                >V
            <div class="banner-item" style='background: url("/static/images/banner_index.jpg") no-repeat center;'></div>
            <div class="banner-item" style='background: url("/static/images/banner_index2.jpg") no-repeat center;'></div>
            <div class="banner-item" style='background: url("/static/images/banner_index3.jpg") no-repeat center;'></div>
            <div class="banner-item" style='background: url("/static/images/banner_index4.jpg") no-repeat center;'></div>
            <div class="banner-op">
                <div class="banner-op-item banner-op-left"></div>
                <div class="banner-op-item banner-op-right"></div>
            </div>
            <div class="cycle-pager"></div>
        </div>
    </div>
    <div class="prod">
        <div class="container">
            <div class="prod-con clearfix">
                <a href="/slot" class="prod-item">
                    <div class="prod-item-title" data-i18n="index.1"></div>
                    <div class="prod-item-text" data-i18n="index.2"></div>
                </a>
                <a href="/casino" class="prod-item">
                    <div class="prod-item-title" data-i18n="index.3"></div>
                    <div class="prod-item-text" data-i18n="index.4"></div>
                </a>
                <a href="/sports" class="prod-item prod-item-last">
                    <div class="prod-item-title" data-i18n="index.5"></div>
                    <div class="prod-item-text" data-i18n="index.6"></div>
                </a>
            </div>
        </div>
    </div>
    <div class="notice">
        <div class="container">
            <div class="notice-con clearfix">
                <div class="notice-item">
                    <a href="#" class="notice-item-title" data-i18n="[prepend]index.7"><i></i></a>
                    <div class="notice-item-text">
                        <a href="#" data-i18n="index.8"></a>
                        <a href="#" data-i18n="index.9"></a>
                        <a href="#" data-i18n="index.10"></a>
                        <a href="#" data-i18n="index.11"></a>
                    </div>
                </div>
                <div class="notice-item">
                    <a href="#" class="notice-item-title" data-i18n="[prepend]index.12"><i></i></a>
                    <div class="notice-item-text">
                        <a href="#" data-i18n="index.13"></a>
                        <a href="#" data-i18n="index.14"></a>
                        <a href="#" data-i18n="index.15"></a>
                        <a href="#" data-i18n="index.16"></a>
                    </div>
                </div>
                <div class="notice-item notice-item-last">
                    <a href="#" class="notice-item-title" data-i18n="[prepend]index.17"><i></i></a>
                    <div class="notice-item-text" data-i18n="[html]index.18"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="index-bg"></div>
    </div>
    <div class="list-img"></div>
    <div class="list">
        <div class="container">
            <div class="list-con clearfix">
                <div class="list-item">
                    <div class="list-item-title" data-i18n="index.19"></div>
                    <div class="list-item-text" data-i18n="index.20"></div>
                </div>
                <div class="list-item">
                    <div class="list-item-title" data-i18n="index.21"></div>
                    <div class="list-item-text" data-i18n="index.22"></div>
                </div>
                <div class="list-item">
                    <div class="list-item-title" data-i18n="index.23"></div>
                    <div class="list-item-text" data-i18n="index.24"></div>
                </div>
                <div class="list-item">
                    <div class="list-item-title" data-i18n="index.25"></div>
                    <div class="list-item-text" data-i18n="index.26"></div>
                </div>
                <div class="list-item">
                    <div class="list-item-title" data-i18n="index.27"></div>
                    <div class="list-item-text" data-i18n="index.28"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="fix">
        <div class="fix-text1" data-i18n="index.29"></div>
        <a href="/service" class="fix-btn fix-btn1" data-i18n="index.30"></a>
        <div class="fix-btn fix-btn2" id="go-top" data-i18n="index.31"></div>
    </div>

    #parse('/common/footer.vm')
    #parse('/common/script.vm')
    <script src="/static/js/index.js"></script>
</body>
</html>