<!doctype html>
<html class="no-js" lang="en">
<head>
    <title data-i18n="base:title.lottery"></title>
    <script>var translate_page='index';</script>
    #parse('/common/top.vm')
    #set($header='lottery')
    <link rel="stylesheet" href="/static/css/common.css"/>
</head>
<body class="lottery">
    #parse('/common/old.vm')
    #parse('/common/header.vm')
    <div class="lottery">
        <div class="cycle-slideshow"
             data-cycle-slides=".lottery-item"
             data-cycle-fx="scrollHorz" data-cycle-log="false"
             data-cycle-timeout="10000"
             data-cycle-pager=">.cycle-pager"
             data-cycle-pager-template="<span></span>"
                >
            <div class="lottery-item" style='background: url("/static/images/lottery_banner1.jpg") no-repeat center;'></div>
            <div class="lottery-item" style='background: url("/static/images/lottery_banner2.jpg") no-repeat center;'></div>
            <div class="cycle-pager"></div>
        </div>
    </div>
    <div class="lottery-con">
        <div class="container">
            <div class="lottery-one-con clearfix">
                <div class="lottery-one">
                    <img src="/static/images/lottery_img2.jpg">
                    <div class="lottery-text">
                        <div class="lottery-text-title" data-i18n="lottery.1"></div>
                        <div class="lottery-text-detail" data-i18n="lottery.2">

                        </div>
                    </div>
                    <div class="lottery-btn" data-i18n="lottery.3"></div>
                </div>
                <div class="lottery-one lottery-two">
                    <img src="/static/images/lottery_img1.jpg">
                    <div class="lottery-text">
                        <div class="lottery-text-title" data-i18n="lottery.4"></div>
                        <div class="lottery-text-detail" data-i18n="lottery.5">

                        </div>
                    </div>
                    <div class="lottery-btn" data-i18n="lottery.3"></div>
                </div>
            </div>
        </div>
    </div>

    #parse('/common/footer.vm')
    #parse('/common/script.vm')
    <script src="/static/js/lottery.js"></script>
</body>
</html>