<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>全民坐庄</title>
    <script>var translate_page='index';</script>
    #parse('/common/top.vm')
    #set($header='lottery')
    <link rel="stylesheet" href="/static/css/common.css"/>
</head>
<body class="lottery">
    #parse('/common/old.vm')
    #parse('/common/header.vm')
    <div class="lottery">
        <div class="cycle-slideshow"
             data-cycle-slides=".lottery-item"
             data-cycle-fx="scrollHorz"
             data-cycle-timeout="10000"
             data-cycle-pager=">.cycle-pager"
             data-cycle-pager-template="<span></span>"
                >
            <div class="lottery-item" style='background: url("/static/images/lottery_banner.jpg") no-repeat center;'></div>
            <div class="lottery-item" style='background: url("/static/images/lottery_banner.jpg") no-repeat center;'></div>
            <div class="lottery-item" style='background: url("/static/images/lottery_banner.jpg") no-repeat center;'></div>
            <div class="cycle-pager"></div>
        </div>
    </div>
    <div class="lottery-con">
        <div class="container">
            <div class="lottery-one-con clearfix">
                <div class="lottery-one">
                    <img src="/static/images/lottery_img2.jpg">
                    <div class="lottery-text">
                        <div class="lottery-text-title">快乐彩</div>
                        <div class="lottery-text-detail">
                            高频，快速开奖，多地区。快乐彩以中国（北京）、加拿大、加拿大西部、澳洲、马耳他及斯洛伐克地区的官方结果为准
                        </div>
                    </div>
                    <div class="lottery-btn">立即游戏</div>
                </div>
                <div class="lottery-one lottery-two">
                    <img src="/static/images/lottery_img1.jpg">
                    <div class="lottery-text">
                        <div class="lottery-text-title">快乐彩</div>
                        <div class="lottery-text-detail">
                            高频，快速开奖，多地区。快乐彩以中国（北京）、加拿大、加拿大西部、澳洲、马耳他及斯洛伐克地区的官方结果为准
                        </div>
                    </div>
                    <div class="lottery-btn">立即游戏</div>
                </div>
            </div>
        </div>
    </div>

    #parse('/common/footer.vm')
    #parse('/common/script.vm')
    <script src="/static/plugin/jquery.hoverintent/hoverintent.js"></script>
    <script src="/static/js/lottery.js"></script>
</body>
</html>