<!doctype html>
<html class="no-js" lang="en">
<head>
    <title data-i18n="base:title.reg"></title>
    <script>var translate_page='register';</script>
    #parse('/common/top.vm')
    <link rel="stylesheet" href="/static/css/common.css"/>
</head>
<body class="login-body">
    #parse('/common/old.vm')
    #parse('/common/header.vm')

    <div class="reg-con">
        <div class="container">
            <div class="reg-main clearfix">
                <div class="reg-left">
                    <div class="reg-header clearfix">
                        <h2 class="reg-header-title" data-i18n="reg-header-title"></h2>
                        <div class="reg-header-text" data-i18n="[html]reg-header-text"></div>
                    </div>
                    <form id="reg-form" class="reg-form">
                        <input type="hidden" class="reg-input" name="affiliateId" id="affiliateId-hidden" value="">
                        <div class="reg-group clearfix">
                            <label class="reg-label"><em data-i18n="custCode.name"></em></label>
                            <input type="text" class="reg-input" name="custCode" id="custCode" maxlength="12">
                            <span class="require">*</span>
                        </div>
                        <div class="reg-group clearfix">
                            <label class="reg-label"><em data-i18n="passwd.name"></em></label>
                            <input type="password" class="reg-input" name="passwd" id="passwd">
                            <span class="require">*</span>
                        </div>
                        <div class="reg-group clearfix">
                            <label class="reg-label"><em data-i18n="repasswd.name"></em></label>
                            <input type="password" class="reg-input" name="repasswd" id="repasswd">
                            <span class="require">*</span>
                        </div>

                        #foreach($item in $form)

                        #if($item.isShow)
                            #if($item.formCode=='country')
                                <div class="reg-group reg-group-select clearfix" #if($item.isRequire)data-require="true"#end #if($item.validator)data-valid="true"#end>
                                    <label class="reg-label"><em data-i18n="${item.formCode}.name"></em></label>
                                    <select class="reg-select" name="country" id="country">
                                        <option value="" data-i18n="base:select"></option>
                                        <option value="AU" data-i18n="country_name.Australia"></option>
                                        <option value="BN" data-i18n="country_name.Brunei"></option>
                                        <option value="KH" data-i18n="country_name.Cambodia"></option>
                                        <option value="CA" data-i18n="country_name.Canada"></option>
                                        <option value="CN" data-i18n="country_name.China"></option>
                                        <option value="EU" data-i18n="country_name.EU"></option>
                                        <option value="IN" data-i18n="country_name.India"></option>
                                        <option value="ID" data-i18n="country_name.Indonesia"></option>
                                        <option value="JP" data-i18n="country_name.Japan"></option>
                                        <option value="KR" data-i18n="country_name.Korea"></option>
                                        <option value="LA" data-i18n="country_name.Laos"></option>
                                        <option value="MY" data-i18n="country_name.Malaysia"></option>
                                        <option value="MM" data-i18n="country_name.Myanmar"></option>
                                        <option value="NZ" data-i18n="country_name.New Zealand"></option>
                                        <option value="PH" data-i18n="country_name.Philippines"></option>
                                        <option value="RU" data-i18n="country_name.Russia"></option>
                                        <option value="SG" data-i18n="country_name.Singapore"></option>
                                        <option value="TH" data-i18n="country_name.Thailand"></option>
                                        <option value="US" data-i18n="country_name.United States"></option>
                                        <option value="VN" data-i18n="country_name.Vietnam"></option>
                                    </select>
                                    #if($item.isRequire)<span class="require">*</span>#end
                                </div>
                            #elseif($item.formCode=='validateCode')
                                <div class="reg-group reg-group-code clearfix" #if($item.isRequire)data-require="true"#end #if($item.validator)data-valid="true"#end>
                                    <label class="reg-label"><em data-i18n="${item.formCode}.name"></em></label>
                                    <input type="text" class="reg-input reg-input-code" name="validateCode" id="validateCode" maxlength="4">
                                    <img class="reg-code-img" src="/validateCode">
                                    #if($item.isRequire)<span class="require">*</span>#end
                                </div>
                            #elseif($item.formCode=='certificateType')
                                <div class="reg-group reg-group-select clearfix" #if($item.isRequire)data-require="true"#end #if($item.validator)data-valid="true"#end>
                                    <label class="reg-label"><em data-i18n="${item.formCode}.name"></em></label>
                                    <select class="reg-select" name="certificateType" id="certificateType">
                                        <option value="" data-i18n="base:select"></option>
                                        <option value="2BB" data-i18n="certificate_type.ID number"></option>
                                        <option value="2BC" data-i18n="certificate_type.Driver license"></option>
                                        <option value="2BE" data-i18n="certificate_type.Military officer"></option>
                                        <option value="2BF" data-i18n="certificate_type.Passport"></option>
                                    </select>
                                    #if($item.isRequire)<span class="require">*</span>#end
                                </div>
                            #elseif($item.formCode=='custGender')
                                <div class="reg-group reg-group-select clearfix" #if($item.isRequire)data-require="true"#end #if($item.validator)data-valid="true"#end>
                                    <label class="reg-label"><em data-i18n="${item.formCode}.name"></em></label>
                                    <label class="reg-radio"><input type="radio" name="custGender" value="01M" checked><span data-i18n="sex.male"></span></label>
                                    <label class="reg-radio"><input type="radio" name="custGender" value="01F"><span data-i18n="sex.female"></span></label>
                                    #if($item.isRequire)<span class="require">*</span>#end
                                </div>
                            #else
                                <div class="reg-group clearfix" #if($item.isRequire)data-require="true"#end #if($item.validator)data-valid="true"#end>
                                    <label class="reg-label"><em data-i18n="${item.formCode}.name"></em></label>
                                    <input #if($item.formCode=="drawPwd")type="password"#else type="text"#end class="reg-input" name="$item.formCode" id="$item.formCode" #if($item.formCode=="email")autocomplete="off"#end>
                                    #if($item.isRequire)<span class="require">*</span>#end
                                </div>
                            #end

                        #end
                        #end


                        <div class="reg-group clearfix mt10 reg-group-spec">
                            <label class="reg-ck" data-i18n="[append]ck1">
                                <input name="agree" type="checkbox" checked>
                            </label>
                        </div>
                        <div class="reg-ok mt10" id="reg-btn" data-i18n="reg-btn"></div>
                        <div class="reg-text" data-i18n="[html]reg-text"></div>

                    </form>
                </div>
                <div class="reg-right">
                    <img src="/static/images/reg_banner.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="login-footer">
        <div class="login-footer-text" data-i18n="[html]base:footer.more"></div>
    </div>

    #parse('/common/script.vm')
    <script src="/static/plugin/jquery.mailAutoComplete/jquery.mail.js"></script>
    <script src="/static/plugin/jquery.ui/jquery.ui.datepicker-zh-cn.js"></script>
    <script src="/static/js/reg.js"></script>

</body>
</html>