<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>全民坐庄</title>
    <script>var translate_page='register';</script>
    #parse('/common/top.vm')
    <link rel="stylesheet" href="/static/css/common.css"/>
    <link rel="stylesheet" href="/static/plugin/jquery.ui/jquery-ui.css"/>
</head>
<body class="login-body">
    #parse('/common/old.vm')
    #parse('/common/header.vm')

    <div class="reg-con">
        <div class="container">
            <div class="reg-main clearfix">
                <div class="reg-left">
                    <div class="reg-header clearfix">
                        <h2 class="reg-header-title">新用户注册</h2>
                        <div class="reg-header-text">如您已有帐户，立刻在此  <a href="/login">登录</a></div>
                    </div>
                    <form id="reg-form" class="reg-form">
                        <div class="reg-group clearfix">
                            <label class="reg-label"><em data-i18n="operator.name"></em></label>
                            <input type="text" class="reg-input" name="operator" id="operator" maxlength="12">
                            <span class="require">*</span>
                        </div>
                        <div class="reg-group clearfix">
                            <label class="reg-label"><em data-i18n="passwd.name"></em></label>
                            <input type="password" class="reg-input" name="passwd" id="passwd">
                            <span class="require">*</span>
                        </div>
                        <div class="reg-group clearfix">
                            <label class="reg-label"><em data-i18n="repasswd.name"></em></label>
                            <input type="password" class="reg-input" name="repasswd" id="repasswd">
                            <span class="require">*</span>
                        </div>



                        #foreach($item in $form)

                        ##国家
                        #if($item.name=='country')
                        <div class="reg-group reg-group-select clearfix" #if($item.require)data-require="true"#end #if($item.require)data-valid="true"#end>
                            <label class="reg-label"><em data-i18n="${item.name}.name"></em></label>
                            <select class="reg-select" name="country" id="country">
                                <option value="" data-i18n="base:select"></option>
                                #foreach($item in $country)
                                <option value="$item.value" data-i18n="country_name.${item.key}"></option>
                                #end
                            </select>
                            #if($item.require)<span class="require">*</span>#end
                        </div>
                        #elseif($item.name=='validateCode')
                        <div class="reg-group reg-group-code clearfix" #if($item.require)data-require="true"#end #if($item.require)data-valid="true"#end>
                            <label class="reg-label"><em data-i18n="${item.name}.name"></em></label>
                            <input type="text" class="reg-input reg-input-code" name="validateCode" id="validateCode" maxlength="4">
                            <img class="reg-code-img" src="/validateCode">
                            #if($item.require)<span class="require">*</span>#end
                        </div>
                        #elseif($item.name=='card')
                        <div class="reg-group reg-group-select clearfix" #if($item.require)data-require="true"#end #if($item.require)data-valid="true"#end>
                            <label class="reg-label"><em data-i18n="${item.name}.name"></em></label>
                            <select class="reg-select" name="card" id="card">
                                <option value="" data-i18n="base:select"></option>
                                <option value="2BA" data-i18n="card_type.0"></option>
                                <option value="2BA" data-i18n="card_type.1"></option>
                                <option value="2BC" data-i18n="card_type.2"></option>
                                <option value="2BE" data-i18n="card_type.3"></option>
                            </select>
                            #if($item.require)<span class="require">*</span>#end
                        </div>
                        #else
                        <div class="reg-group clearfix" #if($item.require)data-require="true"#end #if($item.require)data-valid="true"#end>
                            <label class="reg-label"><em data-i18n="${item.name}.name"></em></label>
                            <input #if($item.name=="moneypassword")type="password"#else type="text"#end class="reg-input" name="$item.name" id="$item.name" #if($item.name=="email")autocomplete="off"#end>
                            #if($item.require)<span class="require">*</span>#end
                        </div>
                        #end

                        #end

                        <div class="reg-group clearfix mt10">
                            <label class="reg-ck">
                                <input type="checkbox">我确认已年满18岁，并已阅读和接受本网站政策、隐私声明、条款和条件。
                            </label>
                        </div>
                        <div class="reg-group clearfix">
                            <label class="reg-ck">
                                <input type="checkbox">是的，我想收到your caisno的通讯
                            </label>
                        </div>
                        <div class="reg-ok mt10" id="reg-btn">马上注册</div>
                        <div class="reg-text">
                            注册时有任何问题，请联系我们24小时<a href="#">在线客服</a>协助解决<br>
                            本网站采用Global Trust最先进的128/256 bit SSL服务器加密机制
                        </div>

                    </form>
                </div>
                <div class="reg-right">
                    <img src="/static/images/reg_banner.jpg">
                </div>
            </div>
        </div>
    </div>

    <div class="login-footer">
        <div class="login-footer-text">
            2013 ~ 2015 © iG99.com All Rights Reserved.
        </div>
    </div>

    #parse('/common/script.vm')
    <script src="/static/plugin/jquery.validation/jquery.validate.js"></script>
    <script src="/static/plugin/jquery.mailAutoComplete/jquery.mail.js"></script>
    <script src="/static/plugin/jquery.ui/jquery.ui.datepicker-zh-cn.js"></script>
    <script src="/static/plugin/xss/xss.js"></script>
    <script src="/static/js/reg.js"></script>

</body>
</html>