<!doctype html>
<html class="no-js" lang="en">
<head>
    <title data-i18n="base:title.slot"></title>
    <script>var translate_page='index';</script>
    #parse('/common/top.vm')
    #set($header='slot')
    <link rel="stylesheet" href="/static/css/slot_main.css"/>
</head>
<body>
    #parse('/common/old.vm')
    #parse('/common/header.vm')

    <div class="cycle-slideshow" style="height: 368px;"
         data-cycle-slides=".banner-item"
         data-cycle-fx="scrollHorz" data-cycle-log="false"
         data-cycle-timeout="10000"
         data-cycle-pager=">.cycle-pager"
         data-cycle-pager-template="<span></span>"
            >
        <div class="banner-item" style='background: url("/static/images/slot/slot_b1.jpg") no-repeat center;'></div>
        <div class="banner-item" style='background: url("/static/images/slot/slot_b3.jpg") no-repeat center;'></div>
        <div class="banner-item" style='background: url("/static/images/slot/slot_b2.jpg") no-repeat center;'></div>
        <div class="banner-item" style='background: url("/static/images/slot/slot_b4.jpg") no-repeat center;'></div>
        <div class="cycle-pager"></div>
    </div>
    <div class="slot">
        <div class="slot-num">
            <div class="slot-container">
                <div class="slot-num-text">总奖池已达 - 大奖等你来!</div>
                <div class="slot-num-title" id="total-ticker">
                    UPDATING
                </div>
            </div>
        </div>
        <div class="slot-container">
            <div class="clearfix">
                <div class="slot-item">
                    <a href="/slot_pt"><img src="/static/images/slot/slot_img1.jpg"></a>
                    <div class="slot-item-text">
                        <div class="slot-item-text1">PT平台</div>
                        <div class="slot-item-down">下载客户端</div>
                    </div>
                    <a href="/slot_pt" class="slot-item-btn">马上进入</a>
                    <div class="slot-item-more">
                        立即享受所有您最爱的游戏！
                    </div>
                </div>
                <div class="slot-item">
                    <a href="/slot_gpi"><img src="/static/images/slot/slot_img2.jpg"></a>
                    <div class="slot-item-text">
                        <div class="slot-item-text1">GPI平台</div>
                    </div>
                    <a href="/slot_gpi" class="slot-item-btn">马上进入</a>
                    <div class="slot-item-more">
                        全新3D技术，流畅的画面，将让您身临其中。
                    </div>
                </div>
                <div class="slot-item" style="margin-right:0;">
                    <a href="/slot_mgs"><img src="/static/images/slot/slot_img3.jpg"></a>
                    <div class="slot-item-text">
                        <div class="slot-item-text1">MGS</div>
                    </div>
                    <button type="button" class="slot-item-btn" disabled>敬请期待</button>
                </div>
                <div class="slot-item">
                    <a href="/slot_ttg"><img src="/static/images/slot/slot_img3.jpg"></a>
                    <div class="slot-item-text">
                        <div class="slot-item-text1">TTG</div>
                    </div>
                    <button type="button" class="slot-item-btn" disabled>敬请期待</button>
                </div>
                <div class="slot-item">
                    <a href="/slot_bs"><img src="/static/images/slot/slot_img3.jpg"></a>
                    <div class="slot-item-text">
                        <div class="slot-item-text1">BS</div>
                    </div>
                    <button type="button" class="slot-item-btn" disabled>敬请期待</button>
                </div>
                <div class="slot-item" style="margin-right:0;">
                    <a href="/slot_ctxm"><img src="/static/images/slot/slot_img3.jpg"></a>
                    <div class="slot-item-text">
                        <div class="slot-item-text1">CTXM</div>
                    </div>
                    <button type="button" class="slot-item-btn" disabled>敬请期待</button>
                </div>
                <div class="slot-item">
                    <a href="/slot_png"><img src="/static/images/slot/slot_img3.jpg"></a>
                    <div class="slot-item-text">
                        <div class="slot-item-text1">PNG</div>
                    </div>
                    <button type="button" class="slot-item-btn" disabled>敬请期待</button>
                </div>
            </div>
        </div>
        <div class="slot-container">
            <div class="slot-game clearfix">
                <a href="#"><img src="/static/images/slot/slot_game1.png"></a>
                <a href="#"><img src="/static/images/slot/slot_game2.png"></a>
                <a href="#" style="top:9px;"><img src="/static/images/slot/slot_game3.png"></a>
                <a href="#" style="top:3px;"><img src="/static/images/slot/slot_game4.png"></a>
                <a href="#" style="top:11px;"><img src="/static/images/slot/slot_game5.png"></a>
                <a href="#" style="top:-9px;margin-right:0;"><img src="/static/images/slot/slot_game6.png"></a>
            </div>
            <div class="slot-page slot-left"></div>
            <div class="slot-page slot-right"></div>
        </div>
        <div class="slot-join">
            立即加入 <span>人气冠军游戏赢取您的</span>累积大奖池！
        </div>
        <div class="slot-container" style="margin-top: 40px;padding-bottom: 70px;">
            <div class="clearfix">
                <div class="slot-sec">
                    <div class="slot-title">
                        <div class="slot-title-main">幸运玩家</div>
                    </div>
                    <div class="slot-ward">
                        <div class="slot-ward-text">
                            恭喜黑龙江会员2014/07/22<br>
                            16****@qq.com<br>
                            使用2元投注额击中神奇四侠累积奖池赢得
                        </div>
                        <div class="slot-nice">
                            CNY229378.72
                        </div>
                        <div class="slot-com">
                            立即加入赢取您的累积大奖池！
                        </div>
                    </div>
                </div>
                <div class="slot-sec" style="width: 435px;margin-left: 10px;">
                    <div class="slot-title">
                        <div class="slot-title-main">人气周排名</div>
                    </div>
                    <div class="slot-list">
                        <table>
                            <tr>
                                <th>玩家账号</th>
                                <th>地区</th>
                                <th>时间</th>
                                <th>中奖金额</th>
                                <th>获奖游戏</th>
                            </tr>
                            <tr>
                                <td>B8ni******03</td>
                                <td>新乡</td>
                                <td>03-19 21:30</td>
                                <td>6098</td>
                                <td>埃莱克特拉</td>
                            </tr>
                            <tr>
                                <td>B8ni******03</td>
                                <td>新乡</td>
                                <td>03-19 21:30</td>
                                <td>6098</td>
                                <td>埃莱克特拉</td>
                            </tr>
                            <tr>
                                <td>B8ni******03</td>
                                <td>新乡</td>
                                <td>03-19 21:30</td>
                                <td>6098</td>
                                <td>埃莱克特拉</td>
                            </tr>
                            <tr>
                                <td>B8ni******03</td>
                                <td>新乡</td>
                                <td>03-19 21:30</td>
                                <td>6098</td>
                                <td>埃莱克特拉</td>
                            </tr>
                            <tr>
                                <td>B8ni******03</td>
                                <td>新乡</td>
                                <td>03-19 21:30</td>
                                <td>6098</td>
                                <td>埃莱克特拉</td>
                            </tr>
                            <tr>
                                <td>B8ni******03</td>
                                <td>新乡</td>
                                <td>03-19 21:30</td>
                                <td>6098</td>
                                <td>埃莱克特拉</td>
                            </tr>
                            <tr>
                                <td>B8ni******03</td>
                                <td>新乡</td>
                                <td>03-19 21:30</td>
                                <td>6098</td>
                                <td>埃莱克特拉</td>
                            </tr>
                            <tr>
                                <td>B8ni******03</td>
                                <td>新乡</td>
                                <td>03-19 21:30</td>
                                <td>6098</td>
                                <td>埃莱克特拉</td>
                            </tr>
                            <tr>
                                <td>B8ni******03</td>
                                <td>新乡</td>
                                <td>03-19 21:30</td>
                                <td>6098</td>
                                <td>埃莱克特拉</td>
                            </tr>
                            <tr>
                                <td>B8ni******03</td>
                                <td>新乡</td>
                                <td>03-19 21:30</td>
                                <td>6098</td>
                                <td>埃莱克特拉</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    #parse('/common/footer.vm')
    #parse('/common/script.vm')
    <script src="/static/js/game/jackpot.js"></script>

</body>
</html>