<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>全民坐庄</title>
    <script>var translate_page='index';</script>
    #parse('/common/top.vm')
    #set($header='sports')
    <link rel="stylesheet" href="/static/css/common.css"/>
</head>
<body class="lottery">
    #parse('/common/old.vm')
    #parse('/common/header.vm')
    <div class="sports">
        <iframe frameborder="0" scrolling="auto" width="100%" height="765" src="http://w88sl.testing.agent1818.com/?stoken=W88_24B6477A-AC96-4E32-A520-89DEA7065EF7&langid=240&oddsstyleid=1"></iframe>
    </div>

    #parse('/common/footer.vm')
    #parse('/common/script.vm')
    <script src="/static/plugin/jquery.hoverintent/hoverintent.js"></script>
    <script src="/static/js/lottery.js"></script>
</body>
</html>