<!doctype html>
<html class="no-js" lang="en">
<head>
    <title data-i18n="base:title.sports"></title>
    <script>var translate_page='index';</script>
    #parse('/common/top.vm')
    #set($header='sports')
    <link rel="stylesheet" href="/static/css/common.css"/>
</head>
<body class="lottery">
    #parse('/common/old.vm')
    #parse('/common/header.vm')

    <input type="hidden" id="token" value="$token">
    <div class="sports">
        <iframe id="iframe" frameborder="0" scrolling="auto" width="100%" height="765"></iframe>
    </div>

    #parse('/common/footer.vm')
    #parse('/common/script.vm')
    <script src="/static/js/sports.js"></script>
</body>
</html>
