<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>#if($pageTitle)$pageTitle #else 新博页面 #end</title>
    #parse('common/top.vm')
    <link rel="stylesheet" href="/static/css/base.css"/>
    <link rel="stylesheet" href="/static/css/register.css"/>
    <link rel="stylesheet" href="/static/plugin/jquery.ui/jquery-ui.css"/>
</head>
<body class="nb88">

    <div class="container">
        <input type="text" id="text">
    </div>

    #parse('common/script.vm')
    <script src="/static/plugin/jquery.ui/jquery.ui.datepicker-zh-cn.js"></script>
    <script>
        $( "#text" ).datepicker();
    </script>

</body>
</html>