<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <title>Nobody恭喜你成功了</title>
  <meta name="keywords" content="前后端分离已实现">
  <meta name="description" content="前后端分离已实现">
  {% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="author" content="h5.hai360.com">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <meta charset="UTF-8">
  <meta http-equiv="Expires" content="-1">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Pragma" content="no-cache">
  {% block styles %}
  {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}

</body>
</html>
