/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)
  */
/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
.page-footer {
  color: #999999;
  font-size: 12px;
  margin: 15px 0;
  text-align: center;
}

body {
  background: url("../images/bg.png");
  font-size: 12px;
  line-height: 1.62;
  color: #666;
}

address, caption, cite, code, dfn, em, i, strong, th, var, optgroup {
  font-style: normal;
  font-weight: normal;
}

.account-main {
  width: 988px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #d7d7d7;
  border-top: 0;
}

.account-head {
  padding-top: 30px;
  height: 146px;
  border-bottom: 1px solid #d7d7d7;
}

body .btn-gray-2 {
  background: #ffffff;
  color: #666;
  border: 1px solid #e0e3e6;
}

body .btn-gray-2:hover {
  border: 1px solid #009b72;
}

.g-poptips {
  position: absolute;
  z-index: 10;
  border: 1px solid #DDD;
  background: #FFF;
  padding: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 22px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 22px 0px;
  -o-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 22px 0px;
  -ms-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 22px 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 22px 0px;
}

.g-poptips .ar-1, .g-poptips .ar-2, .g-poptips .ar-3, .g-poptips .ar-4, .g-poptips .ar-5, .g-poptips .ar-6, .g-poptips .ar-7, .g-poptips .ar-8 {
  position: absolute;
}

.g-poptips .ar-tc, .g-poptips .ar-rc, .g-poptips .ar-bc, .g-poptips .ar-lc {
  position: absolute;
}

.g-poptips .ar em {
  position: absolute;
  font-size: 14px;
  font-style: normal;
  z-index: 10;
  line-height: 21px;
  color: #d5d5d5;
  font-family: SimSun,Hiragino Sans GB;
}

.g-poptips .ar span {
  position: absolute;
  font-size: 14px;
  font-style: normal;
  z-index: 10;
  line-height: 21px;
  color: #FFF;
  font-family: SimSun,Hiragino Sans GB;
  top: 0;
  left: 0;
}

.g-poptips .ar-7, .g-poptips .ar-bc {
  bottom: 9px;
}

.g-poptips .ar-7 em, .g-poptips .ar-bc em {
  top: 1px;
  left: 0;
}

.g-poptips .ar-7 {
  left: 14px;
}

.g-poptips .ar-bc {
  left: 50%;
  margin-left: -7px;
}

.g-poptips .close {
  float: right;
  width: 14px;
  height: 14px;
  background: url(../imgs/close.png) no-repeat;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.g-poptips .close:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.g-tips-block {
  position: absolute;
  padding: 15px;
  width: 265px;
  left: 50%;
  top: 100px;
  z-index: 2001;
  background: #FFF;
  border: 1px solid #DDD;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 22px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 22px 0px;
  -o-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 22px 0px;
  -ms-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 22px 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 22px 0px;
}

.g-tips-block .close {
  background-image: url(/static/images/sprite/sprite_account.png);
  background-position: -211px -201px;
  width: 11px;
  height: 10px;
  float: right;
  cursor: pointer;
  transition: transform 0.4s ease 0s;
  transform-origin: center;
}

.g-tips-block .close:hover {
  transform: rotate(180deg);
  background-image: url(/static/images/sprite/sprite_account.png);
  background-position: -145px -217px;
  width: 11px;
  height: 10px;
}

.g-tips-block .title {
  color: #e56a6a;
  font-size: 18px;
}

.g-tips-block p {
  margin-top: 3px;
  color: #333;
  font-size: 14px;
  line-height: 21px;
}

.g-tips-block .logo-sj6-b {
  position: absolute;
  margin-left: -9px;
  left: 50%;
  bottom: -10px;
  background-image: url(/static/images/sprite/sprite_account.png);
  background-position: -232px -201px;
  width: 17px;
  height: 10px;
}

.g-tips-block2 {
  position: absolute;
  padding: 15px;
  width: 100px;
  left: 50%;
  top: 50%;
  z-index: 10;
  background: #FFF;
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 22px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 22px 0px;
  -o-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 22px 0px;
  -ms-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 22px 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 22px 0px;
}

.g-tips-block3 {
  text-align: center;
  padding-top: 1px;
  border: 1px solid #F6DCB6;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #FFF;
}

.g-tips-block3 p {
  padding: 10px 0;
  background: #FFF3C8;
  width: 220px;
  color: #F78D38;
}

#bind-phone .s-progress {
  margin: 0 auto;
}

.s-progress {
  position: relative;
  height: 89px;
  width: 410px;
  font-size: 12px;
}

.s-progress .step-1 .txt-1, .s-progress .step-2 .txt-1, .s-progress .step-3 .txt-1, .s-progress .step-2 .txt-2, .s-progress .step-3 .txt-2, .s-progress .step-3 .txt-3 {
  color: #a6ccc2;
}

.s-progress .txt-1, .s-progress .txt-2, .s-progress .txt-3 {
  position: absolute;
}

.s-progress .txt-1 {
  left: 0;
  top: 0;
}

.s-progress .txt-2 {
  left: 161px;
  top: 0;
}

.s-progress .txt-3 {
  left: 385px;
  top: 0;
}

.s-progress .step-1 .bar {
  background-position: 0 0;
}

.s-progress .bar {
  position: absolute;
  top: 42px;
  display: block;
  width: 410px;
  height: 16px;
  background: url(../images/t_progress_img.png) no-repeat;
}

#bind-phone .b-phone {
  margin-left: 40px;
}

#bind-phone .b-phone .t {
  margin-left: 21px;
  font-size: 12px;
  padding-top: 15px;
}

p {
  color: #999;
}

#bind-phone .b-phone .btn-blue {
  margin-top: 17px;
  margin-left: 99px;
}

.s-progress .step-2 .bar {
  background-position: 0 -30px;
}

#bind-phone .p-1 {
  margin: 15px 0 15px 42px;
  color: #333;
  font-size: 14px;
}

#bind-phone .a {
  margin-left: 10px;
  color: #999;
  font-size: 12px;
  text-decoration: underline;
}

#bind-phone .b-captcha {
  margin-left: 77px;
}

#bind-phone .btn-captcha {
  float: left;
  margin-top: 3px;
  margin-left: 2px;
}

.btn-captcha {
  display: block;
  padding: 0 10px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  border: 1px solid #dddddd;
  background: #f4f4f4;
  cursor: pointer;
  color: #555;
}

.field .btn-blue, .field .btn-white {
  margin-left: 92px;
}

.field .field-left {
  width: 90px;
  text-align: right;
}

.hidden {
  display: none;
}

#bind-email .s-progress {
  margin: 0 auto;
}

#bind-email .b-email {
  margin: 15px 0 0 25px;
}

#bind-email .b-email .t {
  margin-left: 21px;
  font-size: 12px;
  padding-top: 5px;
}

#bind-email .b-email .btn-blue {
  margin-top: 19px;
}

#bind-email .p-1 {
  margin-left: 13px;
  color: #333;
  font-size: 14px;
}

#bind-email .p-2 {
  margin: 2px 0 15px 110px;
}

#bind-email .b-captcha {
  margin-left: 20px;
}

.input-box-3 .s {
  width: 65px;
}

#bind-email .btn-captcha {
  float: left;
  margin-top: 3px;
}

#bind-email .input-box-3 {
  margin-right: 10px;
}

.dialog-bind .g-title-1 {
  margin-left: 58px;
}

.g-title-1 .logo-right, .g-title-1 .logo-th-2 {
  float: left;
  display: block;
}

.logo-right {
  background-image: url(/static/images/sprite/sprite_account.png);
  background-position: -292px -133px;
  width: 32px;
  height: 32px;
}

.g-title-1 h3 {
  margin-left: 40px;
  padding-top: 0px;
  color: #000;
  font-size: 20px;
  line-height: 34px;
}

.dialog-bind .box-1 {
  margin: 20px 0 0 100px;
}

.dialog-bind .box-1 .btn-blue {
  margin-top: 30px;
  margin-left: 70px;
}

.dialog-bind .box-1 p {
  font-size: 12px;
  color: #333;
  margin-right: 26px;
  line-height: 23px;
}

.btn-datepicker {
  background-image: url(/static/images/sprite/sprite_account.png);
  background-position: -245px -167px;
  width: 15px;
  height: 14px;
  position: absolute;
  margin: 7px 0 0 133px;
  margin-left: 85px;
}

.btn-datepicker:hover {
  background-image: url(/static/images/sprite/sprite_account.png);
  background-position: -390px -84px;
  width: 15px;
  height: 14px;
}

.page {
  margin-top: 20px;
  overflow: hidden;
}

.center.simple-pagination ul {
  text-align: center;
}

.simple-pagination ul {
  text-align: right;
}

.simple-pagination li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.light-theme a, .light-theme span {
  float: left;
  color: #009b72;
  font-size: 12px;
  font-weight: normal;
  min-width: 14px;
  margin-right: 3px;
  text-align: center;
}

.light-theme .current {
  color: #000;
  cursor: default;
}

.disabled .prev, .disabled .next {
  display: none;
}
