@import "normalize";
@import "sprite";
@import "var";

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

button, input, textarea, select {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.container {
  width: 980px;
  margin: auto;
  position: relative;
}

.clearfix {
  *zoom: 1;
  &:before {
    display: table;
    content: "";
  }
  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

a {
  cursor: pointer;
  outline: none;
}

a:link, a:hover {
  text-decoration: none;
}

.nomr {
  margin-right: 0;
}


.cycle-pager {
  width: 100%;
  margin: auto;
  position: absolute;
  bottom: 22px;
  text-align: center;
  z-index: 111;
  span {
    width: 62px;
    height: 8px;
    margin-right: 12px;
    background: white;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
    &.cycle-pager-active {
      background: $primary;
    }
  }
}

.banner-op-item {
  @include sprite($arrow_left);
  position: absolute;
  top: 40%;
  cursor: pointer;
  z-index: 111;
}

.banner-op-left {
  left: 5%;
}

.banner-op-right {
  @include sprite($arrow_right);
  right: 5%;
}

.mt10 {
  margin-top: 10px;
}


.browser-updatetips {
  text-align: center;
  background: lighten($primary, 10%);
  color: white;
  height: 38px;
  line-height: 38px;
  border-top: 1px solid #33a2ff;
  border-bottom: 1px solid #006fcc;
  a {
    color: $primary;
  }
}

span.customSelect {
  font: 12px sans-serif;
  //background:#fff url(../imgs/icon/select.png) right center no-repeat
  border: 1px solid #dddddd;
  color: #555555;
  padding: 7px 9px;
  width: 100px;
}

button[disabled] {
  background: #8cd9c5;
}