@import "sprite_account";
.field{
  label.error{
    color:#F4ABA1;
    font-size: 12px;
    padding-left: 16px;
    background: url("../images/tip.png") no-repeat 2px;
    &.success{
      display: none !important;
    }
  }
}
.ok label.error{
  display: none !important;
}