/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.language-list {
  position: absolute;
  display: none;
  z-index: 1111;
  border: 4px solid #999999;
  padding: 8px 0;
  width: 431px;
  background: #fff;
  left: -180px;
  top: 37px;
}

.language-list b {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #999999;
  position: absolute;
  left: 209px;
  top: -10px;
}

.language-list .language-list-col {
  float: left;
  width: 131px;
  border-right: 1px solid #00ce98;
  padding: 0 6px;
}

.language-list .language-col-last {
  border-right: none;
}

.language-list .language-item {
  text-align: center;
  color: #999999;
  background: #fff;
  padding: 7px 0;
  cursor: pointer;
  font-size: 14px;
}

.language-list .language-item:hover {
  background: #009b72;
  color: #fff;
}

.header-top {
  background: #009b72;
  position: relative;
  z-index: 1112;
}

.header-top-left {
  float: left;
}

.header-top-right {
  float: right;
}

.header-top-right ul li {
  float: left;
}

.header-top-right ul li a {
  color: #fff;
  font-size: 12px;
  display: block;
  padding: 0 14px;
  line-height: 36px;
  border-left: 1px solid #00b485;
}

.header-top-right ul li a:hover {
  background: #00b485;
}

.top-menu-right {
  border-right: 1px solid #00b485;
}

.header-btn {
  color: #fff;
  padding: 0px 9px;
  font-size: 14px;
  border-radius: 3px;
  display: block;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 6px;
  height: 25px;
  line-height: 25px;
}

.header-btn1 {
  background: #00b485;
}

.header-btn1:hover {
  background: #00ba89;
}

.header-btn2 {
  background: #ebaa57;
}

.header-btn2:hover {
  background: #eeb872;
}

.logo {
  float: left;
  margin-top: 18px;
  padding-bottom: 10px;
}

.logo a {
  display: block;
  background: url("../images/logo.png");
  width: 230px;
  height: 71px;
}

.header {
  border-bottom: 1px solid #a5a5a5;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1111;
  background: #fff;
}

.header .menu {
  float: right;
  margin-top: 48px;
}

.header .menu li {
  float: left;
  margin-left: 46px;
  padding-bottom: 18px;
}

.header .menu li.active .link, .header .menu li:hover .link {
  color: #009b72;
  border-bottom: 2px solid #009b72;
}

.header .menu li .link {
  color: #7b7b7b;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 6px;
  display: block;
}

.header .login-menu {
  float: right;
  margin-top: 48px;
}

.header .login-menu li {
  float: left;
}

.header .login-menu li.active a, .header .login-menu li:hover a {
  color: #009b72;
  border-bottom: 2px solid #009b72;
}

.header .login-menu li a {
  color: #7b7b7b;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 6px;
}

.header .login-menu li span {
  border-right: 1px solid #666666;
  display: block;
  height: 14px;
  margin: 0 10px;
  margin-top: 4px;
}

.language {
  float: left;
  position: relative;
  padding: 0 14px;
  padding-right: 22px;
  margin-left: 10px;
  border-left: 1px solid #00b485;
  border-right: 1px solid #00b485;
  cursor: pointer;
}

.language em {
  line-height: 36px;
  color: #fff;
  font-size: 12px;
  font-style: normal;
}

.language em b {
  background-image: url(/static/images/sprite/sprite.png);
  background-position: -81px -18px;
  width: 9px;
  height: 5px;
  position: absolute;
  right: 8px;
  top: 15px;
}

.language:hover {
  background: #00b485;
}

.header-top-right ul li.language a {
  padding: 0 24px 0 14px;
}

.header-top-right ul li.avatars_con a {
  padding: 0 14px 0 50px;
}

.avatars_con {
  position: relative;
}

.avatars_con .avatars {
  position: absolute;
  left: 15px;
  top: 2px;
}

.header-text::-webkit-input-placeholder {
  color: #e4e5e5;
}

.header-text:-moz-placeholder {
  color: #e4e5e5;
}

.header-text::-moz-placeholder {
  color: #e4e5e5;
}

.header-text:-ms-input-placeholder {
  color: #e4e5e5;
}

.header-text {
  width: 104px;
  height: 24px;
  background: #47b488;
  border: none;
  color: #fff;
  float: left;
  margin-right: 4px;
  margin-top: 6px;
  padding: 0 8px;
}

.header-text.s {
  width: 51px;
}

.header-code {
  float: left;
  margin-right: 4px;
  margin-top: 8px;
  cursor: pointer;
}

.header-login {
  float: left;
  background: #eeb827;
  color: #fff;
  padding: 5px 20px;
  border-radius: 2px;
  border: none;
  margin-right: 4px;
  margin-top: 6px;
  *height: 29px;
  *line-height: 20px;
}

.header-block {
  display: none;
}

.header-more {
  background: url("../images/header_bg.png");
  height: 203px;
  position: absolute;
  width: 100%;
  top: 100px;
  left: 0;
}

.header-more-block {
  background: url("../images/header_bg.png");
  position: absolute;
  width: 100%;
  height: 203px;
  top: 100px;
}

.header-img {
  height: 120px;
  width: 990px;
  position: absolute;
  top: 4px;
  left: 0;
}

.header-img-sport {
  background: url("../images/sport_more.jpg");
}

.header-img-slot {
  background: url("../images/slot/slot_more.jpg");
}

.header-img-casino {
  background: url("../images/casino_more.jpg");
}

.header-img-lottery {
  background: url("../images/lottery_more.jpg");
}

.header-more-text {
  text-align: center;
}

.header-more-text .h-m-t {
  float: left;
  line-height: 24px;
  padding-top: 126px;
  cursor: pointer;
  display: block;
  color: #333333;
  position: relative;
  z-index: 111;
  font-size: 12px;
}

.header-more-text .h-m-t div {
  padding-top: 13px;
  padding-bottom: 10px;
}

.header-more-text .h-m-t:hover div {
  background: #60c275;
  color: #fff;
}

.browser-updatetips .speed {
  display: block;
  background-image: url(/static/images/sprite/sprite.png);
  background-position: -72px -18px;
  width: 9px;
  height: 14px;
  position: absolute;
  top: 12px;
  left: 875px;
}

.browser-updatetips span {
  background-image: url(/static/images/sprite/sprite.png);
  background-position: -72px -32px;
  width: 11px;
  height: 11px;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 13px;
  left: 965px;
}
