.nb88 .register-con {
  background: #f2f2f2;
  padding: 20px 0;
}
.nb88 .register-main {
  width: 1060px;
  margin: 0 auto;
  padding: 25px;
  background: #ffffff;
  border-top: 3px solid #1bb999;
}
.nb88 .register-title {
  font-size: 14px;
}
.nb88 .reg-text-con {
  width: 230px;
  padding: 45px 12px 20px;
  background: #f2f2f2;
  border-radius: 10px;
  float: left;
  margin-top: 150px;
  position: relative;
}
.nb88 .reg-text-bg {
  background: url("../imgs/reg_bg.jpg");
  width: 201px;
  height: 152px;
  position: absolute;
  left: 40px;
  top: -116px;
}
.nb88 .reg-text-title {
  color: #00978e;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
.nb88 .reg-item {
  line-height: 20px;
  margin-bottom: 4px;
  text-indent: 8px;
  position: relative;
}
.nb88 .reg-item span {
  position: absolute;
  left: -7px;
  font-weight: bold;
  font-size: 14px;
  color: #ac9479;
}
.nb88 .reg-form {
  width: 678px;
  float: left;
  margin-left: 80px;
  margin-top: 45px;
}
.nb88 .reg-group {
  margin-bottom: 10px;
  position: relative;
}
.nb88 .reg-group label.error {
  margin-top: 7px;
  float: left;
  color: red;
  font-size: 12px;
  background: url("../imgs/reg_icon_info.png") no-repeat 0 0;
  line-height: 14px;
  padding-left: 15px;
}
.nb88 .reg-group label.error.success {
  display: block;
  height: 14px;
  line-height: 14px;
  background: url("../imgs/reg_icon_succ.png") no-repeat 0 0;
}
.nb88 .reg-label {
  float: left;
  color: #333333;
  font-size: 12px;
  margin-top: 7px;
  width: 85px;
  text-align: right;
}
.nb88 .reg-label span {
  font-size: 13px;
  color: red;
  font-weight: bold;
  position: relative;
  top: 3px;
  margin-right: 4px;
}
.nb88 .reg-input {
  float: left;
  border: 1px solid #e8e8e8;
  width: 238px;
  height: 12px;
  padding: 8px 10px;
  font-size: 12px;
  margin-left: 20px;
  margin-right: 10px;
}
.nb88 .reg-help {
  margin-top: 5px;
  float: left;
  font-style: italic;
  color: #999999;
  font-size: 12px;
}
.nb88 .reg-spa {
  border-bottom: 1px dashed #e3e3e3;
  padding-top: 10px;
  margin-bottom: 20px;
}
.nb88 .reg-phone-plus {
  float: left;
  margin-left: 20px;
  margin-top: 5px;
}
.nb88 .reg-phone-select {
  float: left;
  border: 1px solid #e8e8e8;
  height: 12px;
  padding-left: 4px;
  width: 60px;
  height: 30px;
  margin-left: 10px;
}
.nb88 .reg-phone-input {
  margin-left: 10px;
  width: 150px;
}
.nb88 .reg-date {
  float: left;
  border: 1px solid #e8e8e8;
  height: 12px;
  padding-left: 4px;
  width: 80px;
  height: 30px;
  margin-left: 10px;
}
.nb88 .reg-date-year {
  margin-left: 20px;
}
.nb88 .reg-currency {
  float: left;
  border: 1px solid #e8e8e8;
  height: 12px;
  padding-left: 4px;
  width: 260px;
  height: 30px;
  margin-left: 20px;
}
.nb88 .reg-input-code {
  width: 163px;
}
.nb88 .reg-code-img {
  float: left;
  margin-top: 5px;
  cursor: pointer;
}
.nb88 .reg-agree {
  margin-left: 106px;
  font-size: 12px;
  color: #666666;
}
.nb88 .reg-agree input {
  position: relative;
  top: 2px;
}
.nb88 .reg-btn {
  background: #00978e;
  width: 150px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  border: none;
  margin-top: 20px;
  margin-left: 106px;
  margin-bottom: 60px;
}
.nb88 .reg-btn[disabled] {
  opacity: .5;
}
.nb88 #validateCode-error {
  position: absolute;
  left: 375px;
}
.nb88 .emailist {
  padding-top: 5px;
  background: #FFF;
  border: 1px solid #c9c9c9;
  width: 258px;
  cursor: pointer;
}
.nb88 .emailist li {
  padding-left: 10px;
  line-height: 23px;
  color: #999;
}
.nb88 .emailist .on,
.nb88 .emailist li:hover {
  background: #e0f6fd;
}
