@import "base";
@import "var";

.slot-container{
  width: 1000px;
  margin: 0 auto;
}
.slot-container-inner{
  margin: 0 auto;
  position: relative;
  width: 1000px;
  background: #e0e0e0;
  overflow: hidden;
}
.banner-item{
  width: 100%;
  height: 366px;
}
.slot-reward{
  background: #ededed;
}
.reward-text-con{
  text-align: center;
  padding-top: 30px;
}
.reward-text{
  display: inline-block;
}
.slot-num-title{
  display: inline-block;
}
.reward-text{
  font-size: 28px;
  color:#999999;
  position: relative;
  top: -6px;
  margin-right: 10px;
}
.slot-num-title{
  font-size: 50px;
  color: $primary;
  font-family: simsun;
}
.reward-text-img{
  background: url("../images/slot/slot_text.png") no-repeat top;
  width: 281px;
  height: 43px;
  margin: 10px auto 0;
  padding-bottom: 20px;
}
.reward-game-bg{
  background: url("../images/slot/slot_game_bg.png") no-repeat center;
  height: 155px;
}

/*列表*/
.slot-type{
  background: #dcdcdc;
  margin-top: 1px;
  margin-bottom: 1px;
}
.slot-type-list{
  font-size: 14px;
  color:#000000;
  float: left;
  height: 38px;
  line-height: 38px;
  padding: 0 21px;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 100;
  margin-right: 1px;
  transition: all 0.35s ease;
  &.active,&:hover{
    background: $primary;
    color:#fff;
    i{
      bottom: -9px;
      opacity: 1;
    }
  }
  div{
    position: relative;
    z-index: 10;
  }
  i{
    position: absolute;
    background: url("../images/slot/slot_arrow.png") no-repeat;
    width: 18px;
    height: 9px;
    bottom: 0px;
    transition: .3s;
    left: 50%;
    margin-left: -9px;
    opacity: 0;
    z-index: 9;
  }
}
.ttg .slot-type-list{
  padding: 0 71px;
}
.mgs .slot-type-list{
  padding: 0 42px;
}
.bs .slot-type-list{
  padding: 0 28px;
}
.ctxm .slot-type-list{
  padding: 0 27px;
}
.png .slot-type-list{
  padding: 0 97px;
}
.slot-game{
  background: url("../images/slot/slot_bg.jpg") no-repeat center top;
  padding-bottom: 50px;
}
.slot-game-main{
  padding: 22px 24px;
  background: #e0e0e0;
  overflow: hidden;
}
.slot-game-main-con{
  width: 1100px;
}
.slot-item{
  float: left;
  margin-right: 11px;
  margin-bottom: 16px;
  position: relative;
  width: 146px;
  border: 2px solid #e0e0e0;
  height: 189px;
}
.slot-item-name{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  color:#fff;
  background: #000;
  background: rgba(0,0,0,.8);
  padding: 9px 0;
  font-size: 14px;
  z-index: 10;
  transition: all 0.35s ease;
}
.slot-item-btn{
  background: rgba(0,0,0,0.6);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease;
}
.slot-item-btn-begin{
  margin-top: 55px;
  background: $primary;
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 27px;
}
.slot-item-btn-try{
  background: #c2c2c2;
  display: block;
  color: $primary;
  font-size: 14px;
  line-height: 27px;
  margin-top: 1px;
}
.slot-item-btn-down{
  font-size: 14px;
  line-height: 27px;
  color:#fff;
  display: block;
}
.slot-item-value{
  color: #fff;
  font-size: 14px;
  line-height: 27px;
  background: #45a181;
  position: absolute;
  width: 100%;
  bottom:0;
  left: 0;
  text-align: center;
  z-index: 10;
}
.slot-item:hover{
  border:2px solid #5db298;
  .slot-item-btn{
    opacity: 1;
    visibility: visible;
  }
  .slot-item-name{
    color:#1aa379;
  }
}

.slot-game-one{
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  &.active{
    visibility: visible;
    opacity: 1;
  }
}

/*滚动列表*/
.jackpot_loader .container{
  width: 1000px;
  height: 155px;
  overflow: hidden;
}
.jackpot_loader{
  background: url("../images/slot/slot_game_bg.png") no-repeat center;
  position: relative;
  height: 155px;
}
.jackpot_loader .jackpot_loader_item {
  position: relative;
  float: left;
  display: block;
  height: 66px;
  width: 182px;
  margin-top: 87px;
}
.jackpot_loader .jackpot_loader_item .jackpot_loader_item_title {
  display: none;
  position: absolute;
  color: #bfbfbf;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  height: 25px;
  line-height: 30px;
  text-align: center;
}
.jackpot_loader .jackpot_loader_item img {
  display: none;
}
.jackpot_loader .jackpot_loader_item .jackpot_loader_item_name {
  font-size: 12px;
  color: #fff;
  display: block;
  text-align: center;
  vertical-align: middle;
  padding-top: 19px;
  width: 174px;
}
.jackpot_loader .jackpot_loader_item .jackpot_loader_item_amount {
  color: #ffff66;
  font-size: 12px;
  text-align: center;
  height: 20px;
  line-height: 20px;
}
.jackpot_loader .jackpot_loader_item.special {
  padding: 0 0 0 1px;
  margin-top: 0px;
  height: 156px;
  width: 270px;
  z-index: 10;
  overflow: hidden;
}
.jackpot_loader .jackpot_loader_item.special .jackpot_loader_item_title {
  display: block;
}
.jackpot_loader .jackpot_loader_item.special img {
  display: block;
  height: 61px;
  padding-top: 29px;
  margin: 0 auto;
}
.jackpot_loader .jackpot_loader_item.special .jackpot_loader_item_name {
  color: #ffffff;
  font-size: 14px;
  display: block;
  text-align: center;
  width: 100%;
  margin-top: -11px;
  margin-bottom: 4px;
}
.jackpot_loader .jackpot_loader_item.special .jackpot_loader_item_amount {
  color:#ffcc00;
  display: block;
  text-align: center;
  font-size: 18px;
  height: 20px;
  line-height: 20px;
}