/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$a-name: 'a';
$a-x: 169px;
$a-y: 201px;
$a-offset-x: -169px;
$a-offset-y: -201px;
$a-width: 19px;
$a-height: 14px;
$a-total-width: 406px;
$a-total-height: 288px;
$a-image: '/static/images/sprite/sprite_account.png';
$a: 169px 201px -169px -201px 19px 14px 406px 288px '/static/images/sprite/sprite_account.png' 'a';
$bank_bg-name: 'bank_bg';
$bank_bg-x: 0px;
$bank_bg-y: 0px;
$bank_bg-offset-x: 0px;
$bank_bg-offset-y: 0px;
$bank_bg-width: 260px;
$bank_bg-height: 167px;
$bank_bg-total-width: 406px;
$bank_bg-total-height: 288px;
$bank_bg-image: '/static/images/sprite/sprite_account.png';
$bank_bg: 0px 0px 0px 0px 260px 167px 406px 288px '/static/images/sprite/sprite_account.png' 'bank_bg';
$c-name: 'c';
$c-x: 211px;
$c-y: 201px;
$c-offset-x: -211px;
$c-offset-y: -201px;
$c-width: 11px;
$c-height: 10px;
$c-total-width: 406px;
$c-total-height: 288px;
$c-image: '/static/images/sprite/sprite_account.png';
$c: 211px 201px -211px -201px 11px 10px 406px 288px '/static/images/sprite/sprite_account.png' 'c';
$c_a-name: 'c_a';
$c_a-x: 145px;
$c_a-y: 217px;
$c_a-offset-x: -145px;
$c_a-offset-y: -217px;
$c_a-width: 11px;
$c_a-height: 10px;
$c_a-total-width: 406px;
$c_a-total-height: 288px;
$c_a-image: '/static/images/sprite/sprite_account.png';
$c_a: 145px 217px -145px -217px 11px 10px 406px 288px '/static/images/sprite/sprite_account.png' 'c_a';
$ck-name: 'ck';
$ck-x: 356px;
$ck-y: 213px;
$ck-offset-x: -356px;
$ck-offset-y: -213px;
$ck-width: 19px;
$ck-height: 19px;
$ck-total-width: 406px;
$ck-total-height: 288px;
$ck-image: '/static/images/sprite/sprite_account.png';
$ck: 356px 213px -356px -213px 19px 19px 406px 288px '/static/images/sprite/sprite_account.png' 'ck';
$com-name: 'com';
$com-x: 300px;
$com-y: 233px;
$com-offset-x: -300px;
$com-offset-y: -233px;
$com-width: 31px;
$com-height: 18px;
$com-total-width: 406px;
$com-total-height: 288px;
$com-image: '/static/images/sprite/sprite_account.png';
$com: 300px 233px -300px -233px 31px 18px 406px 288px '/static/images/sprite/sprite_account.png' 'com';
$copy-name: 'copy';
$copy-x: 260px;
$copy-y: 233px;
$copy-offset-x: -260px;
$copy-offset-y: -233px;
$copy-width: 40px;
$copy-height: 19px;
$copy-total-width: 406px;
$copy-total-height: 288px;
$copy-image: '/static/images/sprite/sprite_account.png';
$copy: 260px 233px -260px -233px 40px 19px 406px 288px '/static/images/sprite/sprite_account.png' 'copy';
$date-name: 'date';
$date-x: 245px;
$date-y: 167px;
$date-offset-x: -245px;
$date-offset-y: -167px;
$date-width: 15px;
$date-height: 14px;
$date-total-width: 406px;
$date-total-height: 288px;
$date-image: '/static/images/sprite/sprite_account.png';
$date: 245px 167px -245px -167px 15px 14px 406px 288px '/static/images/sprite/sprite_account.png' 'date';
$date_a-name: 'date_a';
$date_a-x: 390px;
$date_a-y: 84px;
$date_a-offset-x: -390px;
$date_a-offset-y: -84px;
$date_a-width: 15px;
$date_a-height: 14px;
$date_a-total-width: 406px;
$date_a-total-height: 288px;
$date_a-image: '/static/images/sprite/sprite_account.png';
$date_a: 390px 84px -390px -84px 15px 14px 406px 288px '/static/images/sprite/sprite_account.png' 'date_a';
$error_arrow-name: 'error_arrow';
$error_arrow-x: 0px;
$error_arrow-y: 256px;
$error_arrow-offset-x: 0px;
$error_arrow-offset-y: -256px;
$error_arrow-width: 159px;
$error_arrow-height: 32px;
$error_arrow-total-width: 406px;
$error_arrow-total-height: 288px;
$error_arrow-image: '/static/images/sprite/sprite_account.png';
$error_arrow: 0px 256px 0px -256px 159px 32px 406px 288px '/static/images/sprite/sprite_account.png' 'error_arrow';
$exchange-name: 'exchange';
$exchange-x: 298px;
$exchange-y: 213px;
$exchange-offset-x: -298px;
$exchange-offset-y: -213px;
$exchange-width: 19px;
$exchange-height: 20px;
$exchange-total-width: 406px;
$exchange-total-height: 288px;
$exchange-image: '/static/images/sprite/sprite_account.png';
$exchange: 298px 213px -298px -213px 19px 20px 406px 288px '/static/images/sprite/sprite_account.png' 'exchange';
$exchange2-name: 'exchange2';
$exchange2-x: 279px;
$exchange2-y: 213px;
$exchange2-offset-x: -279px;
$exchange2-offset-y: -213px;
$exchange2-width: 19px;
$exchange2-height: 20px;
$exchange2-total-width: 406px;
$exchange2-total-height: 288px;
$exchange2-image: '/static/images/sprite/sprite_account.png';
$exchange2: 279px 213px -279px -213px 19px 20px 406px 288px '/static/images/sprite/sprite_account.png' 'exchange2';
$form_error-name: 'form_error';
$form_error-x: 222px;
$form_error-y: 201px;
$form_error-offset-x: -222px;
$form_error-offset-y: -201px;
$form_error-width: 10px;
$form_error-height: 10px;
$form_error-total-width: 406px;
$form_error-total-height: 288px;
$form_error-image: '/static/images/sprite/sprite_account.png';
$form_error: 222px 201px -222px -201px 10px 10px 406px 288px '/static/images/sprite/sprite_account.png' 'form_error';
$form_ok-name: 'form_ok';
$form_ok-x: 249px;
$form_ok-y: 201px;
$form_ok-offset-x: -249px;
$form_ok-offset-y: -201px;
$form_ok-width: 10px;
$form_ok-height: 10px;
$form_ok-total-width: 406px;
$form_ok-total-height: 288px;
$form_ok-image: '/static/images/sprite/sprite_account.png';
$form_ok: 249px 201px -249px -201px 10px 10px 406px 288px '/static/images/sprite/sprite_account.png' 'form_ok';
$icon1-name: 'icon1';
$icon1-x: 324px;
$icon1-y: 133px;
$icon1-offset-x: -324px;
$icon1-offset-y: -133px;
$icon1-width: 28px;
$icon1-height: 30px;
$icon1-total-width: 406px;
$icon1-total-height: 288px;
$icon1-image: '/static/images/sprite/sprite_account.png';
$icon1: 324px 133px -324px -133px 28px 30px 406px 288px '/static/images/sprite/sprite_account.png' 'icon1';
$icon1_a-name: 'icon1_a';
$icon1_a-x: 352px;
$icon1_a-y: 133px;
$icon1_a-offset-x: -352px;
$icon1_a-offset-y: -133px;
$icon1_a-width: 28px;
$icon1_a-height: 30px;
$icon1_a-total-width: 406px;
$icon1_a-total-height: 288px;
$icon1_a-image: '/static/images/sprite/sprite_account.png';
$icon1_a: 352px 133px -352px -133px 28px 30px 406px 288px '/static/images/sprite/sprite_account.png' 'icon1_a';
$icon2-name: 'icon2';
$icon2-x: 260px;
$icon2-y: 101px;
$icon2-offset-x: -260px;
$icon2-offset-y: -101px;
$icon2-width: 32px;
$icon2-height: 32px;
$icon2-total-width: 406px;
$icon2-total-height: 288px;
$icon2-image: '/static/images/sprite/sprite_account.png';
$icon2: 260px 101px -260px -101px 32px 32px 406px 288px '/static/images/sprite/sprite_account.png' 'icon2';
$icon2_a-name: 'icon2_a';
$icon2_a-x: 292px;
$icon2_a-y: 101px;
$icon2_a-offset-x: -292px;
$icon2_a-offset-y: -101px;
$icon2_a-width: 32px;
$icon2_a-height: 32px;
$icon2_a-total-width: 406px;
$icon2_a-total-height: 288px;
$icon2_a-image: '/static/images/sprite/sprite_account.png';
$icon2_a: 292px 101px -292px -101px 32px 32px 406px 288px '/static/images/sprite/sprite_account.png' 'icon2_a';
$icon3-name: 'icon3';
$icon3-x: 324px;
$icon3-y: 101px;
$icon3-offset-x: -324px;
$icon3-offset-y: -101px;
$icon3-width: 30px;
$icon3-height: 32px;
$icon3-total-width: 406px;
$icon3-total-height: 288px;
$icon3-image: '/static/images/sprite/sprite_account.png';
$icon3: 324px 101px -324px -101px 30px 32px 406px 288px '/static/images/sprite/sprite_account.png' 'icon3';
$icon3_a-name: 'icon3_a';
$icon3_a-x: 354px;
$icon3_a-y: 101px;
$icon3_a-offset-x: -354px;
$icon3_a-offset-y: -101px;
$icon3_a-width: 30px;
$icon3_a-height: 32px;
$icon3_a-total-width: 406px;
$icon3_a-total-height: 288px;
$icon3_a-image: '/static/images/sprite/sprite_account.png';
$icon3_a: 354px 101px -354px -101px 30px 32px 406px 288px '/static/images/sprite/sprite_account.png' 'icon3_a';
$icon4-name: 'icon4';
$icon4-x: 291px;
$icon4-y: 64px;
$icon4-offset-x: -291px;
$icon4-offset-y: -64px;
$icon4-width: 31px;
$icon4-height: 37px;
$icon4-total-width: 406px;
$icon4-total-height: 288px;
$icon4-image: '/static/images/sprite/sprite_account.png';
$icon4: 291px 64px -291px -64px 31px 37px 406px 288px '/static/images/sprite/sprite_account.png' 'icon4';
$icon4_a-name: 'icon4_a';
$icon4_a-x: 260px;
$icon4_a-y: 64px;
$icon4_a-offset-x: -260px;
$icon4_a-offset-y: -64px;
$icon4_a-width: 31px;
$icon4_a-height: 37px;
$icon4_a-total-width: 406px;
$icon4_a-total-height: 288px;
$icon4_a-image: '/static/images/sprite/sprite_account.png';
$icon4_a: 260px 64px -260px -64px 31px 37px 406px 288px '/static/images/sprite/sprite_account.png' 'icon4_a';
$icon5-name: 'icon5';
$icon5-x: 322px;
$icon5-y: 64px;
$icon5-offset-x: -322px;
$icon5-offset-y: -64px;
$icon5-width: 34px;
$icon5-height: 34px;
$icon5-total-width: 406px;
$icon5-total-height: 288px;
$icon5-image: '/static/images/sprite/sprite_account.png';
$icon5: 322px 64px -322px -64px 34px 34px 406px 288px '/static/images/sprite/sprite_account.png' 'icon5';
$icon5_a-name: 'icon5_a';
$icon5_a-x: 356px;
$icon5_a-y: 64px;
$icon5_a-offset-x: -356px;
$icon5_a-offset-y: -64px;
$icon5_a-width: 34px;
$icon5_a-height: 34px;
$icon5_a-total-width: 406px;
$icon5_a-total-height: 288px;
$icon5_a-image: '/static/images/sprite/sprite_account.png';
$icon5_a: 356px 64px -356px -64px 34px 34px 406px 288px '/static/images/sprite/sprite_account.png' 'icon5_a';
$line-name: 'line';
$line-x: 0px;
$line-y: 167px;
$line-offset-x: 0px;
$line-offset-y: -167px;
$line-width: 1px;
$line-height: 89px;
$line-total-width: 406px;
$line-total-height: 288px;
$line-image: '/static/images/sprite/sprite_account.png';
$line: 0px 167px 0px -167px 1px 89px 406px 288px '/static/images/sprite/sprite_account.png' 'line';
$m1-name: 'm1';
$m1-x: 390px;
$m1-y: 64px;
$m1-offset-x: -390px;
$m1-offset-y: -64px;
$m1-width: 13px;
$m1-height: 20px;
$m1-total-width: 406px;
$m1-total-height: 288px;
$m1-image: '/static/images/sprite/sprite_account.png';
$m1: 390px 64px -390px -64px 13px 20px 406px 288px '/static/images/sprite/sprite_account.png' 'm1';
$m2-name: 'm2';
$m2-x: 145px;
$m2-y: 201px;
$m2-offset-x: -145px;
$m2-offset-y: -201px;
$m2-width: 24px;
$m2-height: 16px;
$m2-total-width: 406px;
$m2-total-height: 288px;
$m2-image: '/static/images/sprite/sprite_account.png';
$m2: 145px 201px -145px -201px 24px 16px 406px 288px '/static/images/sprite/sprite_account.png' 'm2';
$m3-name: 'm3';
$m3-x: 220px;
$m3-y: 184px;
$m3-offset-x: -220px;
$m3-offset-y: -184px;
$m3-width: 24px;
$m3-height: 16px;
$m3-total-width: 406px;
$m3-total-height: 288px;
$m3-image: '/static/images/sprite/sprite_account.png';
$m3: 220px 184px -220px -184px 24px 16px 406px 288px '/static/images/sprite/sprite_account.png' 'm3';
$mo-name: 'mo';
$mo-x: 317px;
$mo-y: 213px;
$mo-offset-x: -317px;
$mo-offset-y: -213px;
$mo-width: 20px;
$mo-height: 20px;
$mo-total-width: 406px;
$mo-total-height: 288px;
$mo-image: '/static/images/sprite/sprite_account.png';
$mo: 317px 213px -317px -213px 20px 20px 406px 288px '/static/images/sprite/sprite_account.png' 'mo';
$ok-name: 'ok';
$ok-x: 292px;
$ok-y: 133px;
$ok-offset-x: -292px;
$ok-offset-y: -133px;
$ok-width: 32px;
$ok-height: 32px;
$ok-total-width: 406px;
$ok-total-height: 288px;
$ok-image: '/static/images/sprite/sprite_account.png';
$ok: 292px 133px -292px -133px 32px 32px 406px 288px '/static/images/sprite/sprite_account.png' 'ok';
$ok_big-name: 'ok_big';
$ok_big-x: 73px;
$ok_big-y: 167px;
$ok_big-offset-x: -73px;
$ok_big-offset-y: -167px;
$ok_big-width: 72px;
$ok_big-height: 72px;
$ok_big-total-width: 406px;
$ok_big-total-height: 288px;
$ok_big-image: '/static/images/sprite/sprite_account.png';
$ok_big: 73px 167px -73px -167px 72px 72px 406px 288px '/static/images/sprite/sprite_account.png' 'ok_big';
$p-name: 'p';
$p-x: 401px;
$p-y: 101px;
$p-offset-x: -401px;
$p-offset-y: -101px;
$p-width: 5px;
$p-height: 5px;
$p-total-width: 406px;
$p-total-height: 288px;
$p-image: '/static/images/sprite/sprite_account.png';
$p: 401px 101px -401px -101px 5px 5px 406px 288px '/static/images/sprite/sprite_account.png' 'p';
$p1-name: 'p1';
$p1-x: 145px;
$p1-y: 167px;
$p1-offset-x: -145px;
$p1-offset-y: -167px;
$p1-width: 25px;
$p1-height: 17px;
$p1-total-width: 406px;
$p1-total-height: 288px;
$p1-image: '/static/images/sprite/sprite_account.png';
$p1: 145px 167px -145px -167px 25px 17px 406px 288px '/static/images/sprite/sprite_account.png' 'p1';
$p1_a-name: 'p1_a';
$p1_a-x: 356px;
$p1_a-y: 233px;
$p1_a-offset-x: -356px;
$p1_a-offset-y: -233px;
$p1_a-width: 25px;
$p1_a-height: 18px;
$p1_a-total-width: 406px;
$p1_a-total-height: 288px;
$p1_a-image: '/static/images/sprite/sprite_account.png';
$p1_a: 356px 233px -356px -233px 25px 18px 406px 288px '/static/images/sprite/sprite_account.png' 'p1_a';
$p2-name: 'p2';
$p2-x: 220px;
$p2-y: 167px;
$p2-offset-x: -220px;
$p2-offset-y: -167px;
$p2-width: 25px;
$p2-height: 17px;
$p2-total-width: 406px;
$p2-total-height: 288px;
$p2-image: '/static/images/sprite/sprite_account.png';
$p2: 220px 167px -220px -167px 25px 17px 406px 288px '/static/images/sprite/sprite_account.png' 'p2';
$p2_a-name: 'p2_a';
$p2_a-x: 375px;
$p2_a-y: 213px;
$p2_a-offset-x: -375px;
$p2_a-offset-y: -213px;
$p2_a-width: 25px;
$p2_a-height: 18px;
$p2_a-total-width: 406px;
$p2_a-total-height: 288px;
$p2_a-image: '/static/images/sprite/sprite_account.png';
$p2_a: 375px 213px -375px -213px 25px 18px 406px 288px '/static/images/sprite/sprite_account.png' 'p2_a';
$p3-name: 'p3';
$p3-x: 170px;
$p3-y: 184px;
$p3-offset-x: -170px;
$p3-offset-y: -184px;
$p3-width: 25px;
$p3-height: 17px;
$p3-total-width: 406px;
$p3-total-height: 288px;
$p3-image: '/static/images/sprite/sprite_account.png';
$p3: 170px 184px -170px -184px 25px 17px 406px 288px '/static/images/sprite/sprite_account.png' 'p3';
$p3_a-name: 'p3_a';
$p3_a-x: 331px;
$p3_a-y: 233px;
$p3_a-offset-x: -331px;
$p3_a-offset-y: -233px;
$p3_a-width: 25px;
$p3_a-height: 18px;
$p3_a-total-width: 406px;
$p3_a-total-height: 288px;
$p3_a-image: '/static/images/sprite/sprite_account.png';
$p3_a: 331px 233px -331px -233px 25px 18px 406px 288px '/static/images/sprite/sprite_account.png' 'p3_a';
$p4-name: 'p4';
$p4-x: 195px;
$p4-y: 184px;
$p4-offset-x: -195px;
$p4-offset-y: -184px;
$p4-width: 25px;
$p4-height: 17px;
$p4-total-width: 406px;
$p4-total-height: 288px;
$p4-image: '/static/images/sprite/sprite_account.png';
$p4: 195px 184px -195px -184px 25px 17px 406px 288px '/static/images/sprite/sprite_account.png' 'p4';
$p4_a-name: 'p4_a';
$p4_a-x: 381px;
$p4_a-y: 233px;
$p4_a-offset-x: -381px;
$p4_a-offset-y: -233px;
$p4_a-width: 25px;
$p4_a-height: 18px;
$p4_a-total-width: 406px;
$p4_a-total-height: 288px;
$p4_a-image: '/static/images/sprite/sprite_account.png';
$p4_a: 381px 233px -381px -233px 25px 18px 406px 288px '/static/images/sprite/sprite_account.png' 'p4_a';
$p_a-name: 'p_a';
$p_a-x: 401px;
$p_a-y: 106px;
$p_a-offset-x: -401px;
$p_a-offset-y: -106px;
$p_a-width: 5px;
$p_a-height: 5px;
$p_a-total-width: 406px;
$p_a-total-height: 288px;
$p_a-image: '/static/images/sprite/sprite_account.png';
$p_a: 401px 106px -401px -106px 5px 5px 406px 288px '/static/images/sprite/sprite_account.png' 'p_a';
$pop-name: 'pop';
$pop-x: 232px;
$pop-y: 201px;
$pop-offset-x: -232px;
$pop-offset-y: -201px;
$pop-width: 17px;
$pop-height: 10px;
$pop-total-width: 406px;
$pop-total-height: 288px;
$pop-image: '/static/images/sprite/sprite_account.png';
$pop: 232px 201px -232px -201px 17px 10px 406px 288px '/static/images/sprite/sprite_account.png' 'pop';
$promo_no-name: 'promo_no';
$promo_no-x: 260px;
$promo_no-y: 0px;
$promo_no-offset-x: -260px;
$promo_no-offset-y: 0px;
$promo_no-width: 146px;
$promo_no-height: 64px;
$promo_no-total-width: 406px;
$promo_no-total-height: 288px;
$promo_no-image: '/static/images/sprite/sprite_account.png';
$promo_no: 260px 0px -260px 0px 146px 64px 406px 288px '/static/images/sprite/sprite_account.png' 'promo_no';
$refresh-name: 'refresh';
$refresh-x: 260px;
$refresh-y: 213px;
$refresh-offset-x: -260px;
$refresh-offset-y: -213px;
$refresh-width: 19px;
$refresh-height: 20px;
$refresh-total-width: 406px;
$refresh-total-height: 288px;
$refresh-image: '/static/images/sprite/sprite_account.png';
$refresh: 260px 213px -260px -213px 19px 20px 406px 288px '/static/images/sprite/sprite_account.png' 'refresh';
$refresh2-name: 'refresh2';
$refresh2-x: 337px;
$refresh2-y: 213px;
$refresh2-offset-x: -337px;
$refresh2-offset-y: -213px;
$refresh2-width: 19px;
$refresh2-height: 20px;
$refresh2-total-width: 406px;
$refresh2-total-height: 288px;
$refresh2-image: '/static/images/sprite/sprite_account.png';
$refresh2: 337px 213px -337px -213px 19px 20px 406px 288px '/static/images/sprite/sprite_account.png' 'refresh2';
$s1-name: 's1';
$s1-x: 170px;
$s1-y: 167px;
$s1-offset-x: -170px;
$s1-offset-y: -167px;
$s1-width: 25px;
$s1-height: 17px;
$s1-total-width: 406px;
$s1-total-height: 288px;
$s1-image: '/static/images/sprite/sprite_account.png';
$s1: 170px 167px -170px -167px 25px 17px 406px 288px '/static/images/sprite/sprite_account.png' 's1';
$s2-name: 's2';
$s2-x: 195px;
$s2-y: 167px;
$s2-offset-x: -195px;
$s2-offset-y: -167px;
$s2-width: 25px;
$s2-height: 17px;
$s2-total-width: 406px;
$s2-total-height: 288px;
$s2-image: '/static/images/sprite/sprite_account.png';
$s2: 195px 167px -195px -167px 25px 17px 406px 288px '/static/images/sprite/sprite_account.png' 's2';
$s3-name: 's3';
$s3-x: 188px;
$s3-y: 201px;
$s3-offset-x: -188px;
$s3-offset-y: -201px;
$s3-width: 23px;
$s3-height: 11px;
$s3-total-width: 406px;
$s3-total-height: 288px;
$s3-image: '/static/images/sprite/sprite_account.png';
$s3: 188px 201px -188px -201px 23px 11px 406px 288px '/static/images/sprite/sprite_account.png' 's3';
$s4-name: 's4';
$s4-x: 384px;
$s4-y: 101px;
$s4-offset-x: -384px;
$s4-offset-y: -101px;
$s4-width: 17px;
$s4-height: 25px;
$s4-total-width: 406px;
$s4-total-height: 288px;
$s4-image: '/static/images/sprite/sprite_account.png';
$s4: 384px 101px -384px -101px 17px 25px 406px 288px '/static/images/sprite/sprite_account.png' 's4';
$s5-name: 's5';
$s5-x: 145px;
$s5-y: 184px;
$s5-offset-x: -145px;
$s5-offset-y: -184px;
$s5-width: 25px;
$s5-height: 17px;
$s5-total-width: 406px;
$s5-total-height: 288px;
$s5-image: '/static/images/sprite/sprite_account.png';
$s5: 145px 184px -145px -184px 25px 17px 406px 288px '/static/images/sprite/sprite_account.png' 's5';
$tip-name: 'tip';
$tip-x: 244px;
$tip-y: 184px;
$tip-offset-x: -244px;
$tip-offset-y: -184px;
$tip-width: 12px;
$tip-height: 12px;
$tip-total-width: 406px;
$tip-total-height: 288px;
$tip-image: '/static/images/sprite/sprite_account.png';
$tip: 244px 184px -244px -184px 12px 12px 406px 288px '/static/images/sprite/sprite_account.png' 'tip';
$v0-name: 'v0';
$v0-x: 356px;
$v0-y: 189px;
$v0-offset-x: -356px;
$v0-offset-y: -189px;
$v0-width: 24px;
$v0-height: 24px;
$v0-total-width: 406px;
$v0-total-height: 288px;
$v0-image: '/static/images/sprite/sprite_account.png';
$v0: 356px 189px -356px -189px 24px 24px 406px 288px '/static/images/sprite/sprite_account.png' 'v0';
$v1-name: 'v1';
$v1-x: 332px;
$v1-y: 189px;
$v1-offset-x: -332px;
$v1-offset-y: -189px;
$v1-width: 24px;
$v1-height: 24px;
$v1-total-width: 406px;
$v1-total-height: 288px;
$v1-image: '/static/images/sprite/sprite_account.png';
$v1: 332px 189px -332px -189px 24px 24px 406px 288px '/static/images/sprite/sprite_account.png' 'v1';
$v10-name: 'v10';
$v10-x: 308px;
$v10-y: 189px;
$v10-offset-x: -308px;
$v10-offset-y: -189px;
$v10-width: 24px;
$v10-height: 24px;
$v10-total-width: 406px;
$v10-total-height: 288px;
$v10-image: '/static/images/sprite/sprite_account.png';
$v10: 308px 189px -308px -189px 24px 24px 406px 288px '/static/images/sprite/sprite_account.png' 'v10';
$v11-name: 'v11';
$v11-x: 284px;
$v11-y: 189px;
$v11-offset-x: -284px;
$v11-offset-y: -189px;
$v11-width: 24px;
$v11-height: 24px;
$v11-total-width: 406px;
$v11-total-height: 288px;
$v11-image: '/static/images/sprite/sprite_account.png';
$v11: 284px 189px -284px -189px 24px 24px 406px 288px '/static/images/sprite/sprite_account.png' 'v11';
$v12-name: 'v12';
$v12-x: 380px;
$v12-y: 165px;
$v12-offset-x: -380px;
$v12-offset-y: -165px;
$v12-width: 24px;
$v12-height: 24px;
$v12-total-width: 406px;
$v12-total-height: 288px;
$v12-image: '/static/images/sprite/sprite_account.png';
$v12: 380px 165px -380px -165px 24px 24px 406px 288px '/static/images/sprite/sprite_account.png' 'v12';
$v2-name: 'v2';
$v2-x: 356px;
$v2-y: 165px;
$v2-offset-x: -356px;
$v2-offset-y: -165px;
$v2-width: 24px;
$v2-height: 24px;
$v2-total-width: 406px;
$v2-total-height: 288px;
$v2-image: '/static/images/sprite/sprite_account.png';
$v2: 356px 165px -356px -165px 24px 24px 406px 288px '/static/images/sprite/sprite_account.png' 'v2';
$v3-name: 'v3';
$v3-x: 308px;
$v3-y: 165px;
$v3-offset-x: -308px;
$v3-offset-y: -165px;
$v3-width: 24px;
$v3-height: 24px;
$v3-total-width: 406px;
$v3-total-height: 288px;
$v3-image: '/static/images/sprite/sprite_account.png';
$v3: 308px 165px -308px -165px 24px 24px 406px 288px '/static/images/sprite/sprite_account.png' 'v3';
$v4-name: 'v4';
$v4-x: 332px;
$v4-y: 165px;
$v4-offset-x: -332px;
$v4-offset-y: -165px;
$v4-width: 24px;
$v4-height: 24px;
$v4-total-width: 406px;
$v4-total-height: 288px;
$v4-image: '/static/images/sprite/sprite_account.png';
$v4: 332px 165px -332px -165px 24px 24px 406px 288px '/static/images/sprite/sprite_account.png' 'v4';
$v5-name: 'v5';
$v5-x: 260px;
$v5-y: 165px;
$v5-offset-x: -260px;
$v5-offset-y: -165px;
$v5-width: 24px;
$v5-height: 24px;
$v5-total-width: 406px;
$v5-total-height: 288px;
$v5-image: '/static/images/sprite/sprite_account.png';
$v5: 260px 165px -260px -165px 24px 24px 406px 288px '/static/images/sprite/sprite_account.png' 'v5';
$v6-name: 'v6';
$v6-x: 284px;
$v6-y: 165px;
$v6-offset-x: -284px;
$v6-offset-y: -165px;
$v6-width: 24px;
$v6-height: 24px;
$v6-total-width: 406px;
$v6-total-height: 288px;
$v6-image: '/static/images/sprite/sprite_account.png';
$v6: 284px 165px -284px -165px 24px 24px 406px 288px '/static/images/sprite/sprite_account.png' 'v6';
$v7-name: 'v7';
$v7-x: 380px;
$v7-y: 133px;
$v7-offset-x: -380px;
$v7-offset-y: -133px;
$v7-width: 24px;
$v7-height: 24px;
$v7-total-width: 406px;
$v7-total-height: 288px;
$v7-image: '/static/images/sprite/sprite_account.png';
$v7: 380px 133px -380px -133px 24px 24px 406px 288px '/static/images/sprite/sprite_account.png' 'v7';
$v8-name: 'v8';
$v8-x: 380px;
$v8-y: 189px;
$v8-offset-x: -380px;
$v8-offset-y: -189px;
$v8-width: 24px;
$v8-height: 24px;
$v8-total-width: 406px;
$v8-total-height: 288px;
$v8-image: '/static/images/sprite/sprite_account.png';
$v8: 380px 189px -380px -189px 24px 24px 406px 288px '/static/images/sprite/sprite_account.png' 'v8';
$v9-name: 'v9';
$v9-x: 260px;
$v9-y: 189px;
$v9-offset-x: -260px;
$v9-offset-y: -189px;
$v9-width: 24px;
$v9-height: 24px;
$v9-total-width: 406px;
$v9-total-height: 288px;
$v9-image: '/static/images/sprite/sprite_account.png';
$v9: 260px 189px -260px -189px 24px 24px 406px 288px '/static/images/sprite/sprite_account.png' 'v9';
$warn-name: 'warn';
$warn-x: 260px;
$warn-y: 133px;
$warn-offset-x: -260px;
$warn-offset-y: -133px;
$warn-width: 32px;
$warn-height: 32px;
$warn-total-width: 406px;
$warn-total-height: 288px;
$warn-image: '/static/images/sprite/sprite_account.png';
$warn: 260px 133px -260px -133px 32px 32px 406px 288px '/static/images/sprite/sprite_account.png' 'warn';
$warn_big-name: 'warn_big';
$warn_big-x: 1px;
$warn_big-y: 167px;
$warn_big-offset-x: -1px;
$warn_big-offset-y: -167px;
$warn_big-width: 72px;
$warn_big-height: 72px;
$warn_big-total-width: 406px;
$warn_big-total-height: 288px;
$warn_big-image: '/static/images/sprite/sprite_account.png';
$warn_big: 1px 167px -1px -167px 72px 72px 406px 288px '/static/images/sprite/sprite_account.png' 'warn_big';
$spritesheet-width: 406px;
$spritesheet-height: 288px;
$spritesheet-image: '/static/images/sprite/sprite_account.png';
$spritesheet-sprites: $a $bank_bg $c $c_a $ck $com $copy $date $date_a $error_arrow $exchange $exchange2 $form_error $form_ok $icon1 $icon1_a $icon2 $icon2_a $icon3 $icon3_a $icon4 $icon4_a $icon5 $icon5_a $line $m1 $m2 $m3 $mo $ok $ok_big $p $p1 $p1_a $p2 $p2_a $p3 $p3_a $p4 $p4_a $p_a $pop $promo_no $refresh $refresh2 $s1 $s2 $s3 $s4 $s5 $tip $v0 $v1 $v10 $v11 $v12 $v2 $v3 $v4 $v5 $v6 $v7 $v8 $v9 $warn $warn_big;
$spritesheet: 406px 288px '/static/images/sprite/sprite_account.png' $spritesheet-sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
