<div class="account-menu">
    <ul>
        <li #if($header=="message")class="active"#end>
            <a href="/member/message">
                <span class="icon1"></span>
                <div class="t" data-i18n="center:menu.1"></div>
                #if($unRead>0)
                <div class="s" data-i18n="[prepend]center:menu.12;[append]center:menu.13">
                    <em>(<i id='r-read'>$unRead</i>)</em>
                </div>
                #else
                <div class="s" data-i18n="center:menu.11"></div>
                #end
            </a>
        </li>
        <li #if($header=="promo")class="active"#end>
            <a href="/member/promo">
                <span class="icon2"></span>
                <div class="t" data-i18n="center:menu.2"></div>
                <div class="s" data-i18n="center:menu.22"></div>
            </a>
        </li>
        <li #if($header=="safe")class="active"#end>
            <a href="/member/safe">
                <span class="icon3"></span>
                <div class="t" data-i18n="center:menu.3"></div>
                <div class="s" data-i18n="center:menu.33"></div>
            </a>
        </li>
        <li #if($header=="address")class="active"#end>
            <a href="/member/address">
                <span class="icon4"></span>
                <div class="t" data-i18n="center:menu.4"></div>
                <div class="s" data-i18n="center:menu.44"></div>
            </a>
        </li>
        <li #if($header=="history")class="active"#end>
            <a href="/member/history">
                <span class="icon5"></span>
                <div class="t" data-i18n="center:menu.5"></div>
                <div class="s" data-i18n="center:menu.55"></div>
            </a>
        </li>
    </ul>
</div>