<div class="account-head clearfix">
    <div class="account-head-left">
        <div class="bd">
            <h3 data-i18n="center:mtop.1"></h3>
            <p data-i18n="center:mtop.2"></p>
            <span id="info-complete" data-complete="$disSidCust.percentage">$disSidCust.percentage%</span>
        </div>
        <input type="text" value="0" class="dial" style="display: none"/>
        <div class="comp-tips" data-i18n="center:mtop.3">~</div>
    </div>
    <div class="account-head-right">
        <div class="top1">
            <span class="t">$disSidCust.hello，</span>
            <span class="account-name">$disSidCust.username</span>
            <span class="icon"></span>
            <span class="t2">$disSidCust.tips</span>
        </div>
        <div class="top2 clearfix">
            <div class="li">
                <em data-i18n="[prepend]center:mtop.4"></em>
                #if($disSidCust.isBindName)
                <span>$disSidCust.firstName**</span>
                #else
                <a href="/member/safe#name" data-i18n="center:mtop.5"></a>
                #end
            </div>
            <div class="li">
                <em data-i18n="[prepend]center:mtop.6"></em>
                #if($disSidCust.isBindPhone)
                <span>$disSidCust.mobileNumber</span>
                #else
                <a href="#t-phone" data-i18n="center:mtop.7;[data-dialog]center:mtop.77"></a>
                #end
            </div>
            <div class="li">
                <em data-i18n="[prepend]center:mtop.8"></em>
                #if($disSidCust.isBindEmail)
                <span>$disSidCust.emailAddress</span>
                #else
                <a class="mail-show" href="#t-mail" data-i18n="center:mtop.9;[data-dialog]center:mtop.99"></a>
                #end
            </div>
            <div class="li">
                <em data-i18n="[prepend]center:mtop.10"></em>
                <span data-i18n="[append]center:mtop.11">$disSidCust.diffDate</span>
            </div>
        </div>
    </div>
</div>