<!doctype html>
<html class="no-js" lang="en">
<head>
    <title data-i18n="base:title.center"></title>
    <script>var translate_page='member';var page_inner=['center'];</script>
    #parse('/common/top.vm')
    #set($header='message')
    <link rel="stylesheet" href="/static/css/member.css"/>
</head>
<body>
    #parse('/common/old.vm')
    #parse('/common/header.vm')
    <div class="account-con">
        <div class="account-main">
            #parse('/member/member_top.vm')
            <div class="account-body clearfix">
                #parse('/member/member_menu.vm')
                <div class="account-content pg-promocode">
                    <div class="a-t-b">
                        <span class="a-t-t" data-i18n="msg.1"></span>
                    </div>
                    <div class="mcj_a">
                        <div class="mcj_b">
                            <ul class="mcj_c">
                                <li id="tab0" class="active">
                                    <div class="logo-msgbox-r"></div>
                                    <div class="mcj_d" data-i18n="msg.2"></div>
                                    <div id="receive-newcounts"></div>
                                </li>
                                <li id="tab1">
                                    <div class="logo-msgbox-s"></div>
                                    <div class="mcj_d" data-i18n="msg.3"></div>
                                    <div id="send-newcounts"></div>
                                </li>
                                <li id="tab2">
                                    <div class="logo-msgbox-n"></div>
                                    <div class="mcj_d" data-i18n="msg.4"></div>
                                </li>
                            </ul>
                        </div>
                        <div class="mcj_e">
                            <div class="mcj_f m-item active">
                                <ul class="mcj_g"></ul>
                                <div class="mcj_l">
                                    <div class="page page-inbox" style="display: none"></div>
                                    <div class="mcj_m">
                                        <input type="checkbox" name="all" id="all" class="all" value="1"><label for="all"><a data-i18n="msg.5"></a></label><a id="del-receivemsg" data-i18n="msg.6"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="mcj_f m-item" id="inbox">
                                <ul class="mcj_g"></ul>
                                <div class="mcj_l">
                                    <div class="page page-outbox" style="display: none"></div>
                                    <div class="mcj_m page-send">
                                        <input type="checkbox" name="all" id="all2" class="all" value="1"><label for="all2"><a data-i18n="msg.5"></a></label><a id="del-receivemsg" data-i18n="msg.6"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="m-item">
                                <form class="mc-content">
                                    <input type="hidden" name="action" id="action" value="create">
                                    <div class="mcj_o">
                                        <div class="mcj_p" data-i18n="msg.7"></div>
                                        <div class="mcj_q sl-2">
                                            <select class="select" id="sendto">
                                                <option value="财务问题" selected="selected">财务问题</option>
                                                <option value="技术问题">技术问题</option>
                                                <option value="业务咨询">业务咨询</option>
                                                <option value="意见建议">意见建议</option>
                                                <option value="其他问题">其他问题</option>
                                            </select>
                                        </div>
                                        <div class="mc-qtips" data-i18n="msg.8"></div>
                                    </div>
                                    <div class="mcj_title">
                                        <div class="k" data-i18n="msg.9"></div>
                                        <div class="v">
                                            <input type="text" name="title" id="title" autocomplete="off"></div>
                                    </div>
                                    <div class="mcj_r">
                                        <div class="mcj_u" data-i18n="msg.10"></div>
                                        <div class="mcj_s">
                                            <textarea class="mcj_t" name="message" id="message"></textarea>
                                        </div>
                                    </div>
                                    <div class="mcj_v">
                                        <div class="mcj_w">
                                        </div>
                                        <button class="btn-gray-2 mcj_x" id="btn-send">
                                            <span data-i18n="msg.11"></span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="fix-messagepopup" class="fix-messagepopup" style="overflow-y: hidden; display: none;">
        <div class="msgpop-main"></div>
    </div>
    <script type="text/x-dot-template" id="message-tmpl">
        {{~it:value}}
        <li {{? value.status=="08UR"}}class="unread"{{? }}>
            <div class="clearfix">
                <div class="mcj_h">
                    <input type="checkbox" name="Id" value="{{= value.custMessageId }}">
                </div>
                <div class="mcj_i">
                </div>
                <div class="mcj_j" data-id="{{= value.custMessageId }}">
                    <a href="#" data-popup="receive" data-subject="{{= value.subject }}" data-content="{{= value.content }}" data-time="{{= value.createdTime }}" data-id="{{= value.custMessageId }}">
                        {{= value.subject }}
                    </a>
                </div>
                <div class="mcj_k">{{= value.createdTime }}</div>
                <div class="a">(<a href="#" class="m-detail" data-i18n="msg.detail"></a>)</div>
            </div>
        </li>
        {{~}}

    </script>
    <script type="text/x-dot-template" id="message-detail">
        <div id="message-box">
            <span class="close"><em></em></span>

            <h2 class="title" data-i18n="msg.12"></h2>
            <h3>{{= it.subject }}</h3>

            <div class="b-1"><span class="a delete-inner" data-i18n="msg.13"></span><span class="k" data-i18n="msg.14"></span><span
                    class="v">{{= it.time }}</span></div>
            <div class="l"></div>
            <div class="posts">
                {{= it.content }}
            </div>
            <div class="btn-blue-2" id="btn-close" data-i18n="msg.15"></div>
        </div>
    </script>
    #parse('/common/page_footer.vm')
    <script src="/static/plugin/pagination/jquery.simplePagination.js"></script>
    <script src="/static/plugin/doT/doT.js"></script>
    <script src="/static/js/message.js"></script>
</body>
</html>