<!doctype html>
<html class="no-js" lang="en">
<head>
    <title data-i18n="base:title.center"></title>
    <script>var translate_page='member';var page_inner=['center'];</script>
    #parse('/common/top.vm')
    #set($header='promo')
    <link rel="stylesheet" href="/static/css/member.css"/>
</head>
<body>
    #parse('/common/old.vm')
    #parse('/common/header.vm')
    <div class="account-con">
        <div class="account-main">
            #parse('/member/member_top.vm')
            <div class="account-body clearfix">
                #parse('/member/member_menu.vm')
                <div class="account-content pg-promocode">
                    <div class="a-t-b">
                        <span class="a-t-t" data-i18n="promo.1"></span>
                        <label data-i18n="promo.2"></label>
                    </div>
                    <div class="promotitle-1" data-i18n="[append]promo.3"><span class="codecount">0</span></div>
                    <div class="promo-list">
                        <div class="promo-img"></div>
                        <div class="promo-text" data-i18n="promo.4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    #parse('/common/page_footer.vm')
</body>
</html>